[2018-10-01 18:05] MorrisJobke commented on #884
Hey @uusijani could I ask you to send this change in as a pull request? That would be nice 👍

[2018-10-01 20:06] MorrisJobke commented on #858
It worked because it was already installed, but once we have a fresh instance it will fail 🙈

[2018-10-02 22:43] #884 closed

[2018-10-03 13:00] MorrisJobke commented on #222
@MariusBluem 🏓

[2018-10-05 07:40] kyaky opened #886 "nextcloud v14 smb mount Folder name / causing crash & display error"
nextcloud v14 smb mount Folder name is causing crash.

in v12 v13 , folder name / is working no problem.

in v14 / is not working causing 500 error.  it has to be ./ with a dot. after saving the smb mount conf , it starts to work. but the ./ display is showed as /

which means the ./ setting was submitted to database but interface is showing without dot.

[2018-10-06 03:55] kyaky commented on #886
wrong place for this issue

[2018-10-06 03:55] #886 closed

[2018-10-08 11:20] tobiasKaminsky opened #888 "Proper template for API"
Currently API documentation is sometimes missing, sometimes not complete.
I suggest, that we have a template for this and that whenever a new feature is developed, at least API documentation is a part of this.

So here is my rough idea:
# Dummy API
short description with ToC, relative links within this md file.

# Base URL
Base URL: `https://<nextcloud-server>/ocs/v2.php/apps/dummy/api/v1`

## Fir

[2018-10-08 18:25] b3 commented on #863
On my 14.0.1.1 installed version none of the two (with or without trailing slash) work. Using the `maintenance:update:htaccess` command of `occ` always gives me the cited error.

Pretty URL are not working anymore at that stage.

[2018-10-10 02:57] pellaeon opened #894 "Document OCA, OCP Javascript classes"
In the documentation there is no mention of Javascript classes that the developers can use, such as OCA, OCP (and there's likely more that I don't know of).

For example, I didn't know there is `OCP.AppConfig` utility to help with saving settings until reading the javascript code from a official plugin https://github.com/nextcloud/limit_login_to_ip/blob/master/js/settings.js

I know it's hard to b

[2018-10-10 07:35] MorrisJobke commented on #894
cc @skjnldsv and @juliushaertl

[2018-10-10 17:14] Linutux commented on #863
I also have this problem with and without a trailing slash. File .htaccess is owned by the right user, permissions are OK, but problem persists. Nextcloud 14.0.1.1.

[2018-10-10 17:56] juliushaertl commented on #863
This has been fixed with https://github.com/nextcloud/server/pull/11446.

[2018-10-10 17:56] #863 closed

[2018-10-11 19:55] b3 commented on #863
My trouble was due to the ownership of the `.htaccess` file (owned by `root` and in the webserver user group instead of owned by the webserver user) because I still used/fixed access granting through a script created when I installed Nextcloud 9.
That was my mistake (did not reread full documentation when upgrading).

[2018-10-12 09:30] dt64 opened #896 "Use of the the built in php mailer is no longer supported"
after upgrading from NC 13.0.6 to NC14.0.1 the installation comes back with all sorts of unexpected issues.

One of these issues is:
Use of the the built in php mailer is no longer supported. [Please update your email server settings :arrow_upper_right:]

on one hand this is annoying since php mailer was working in all versions before and there might be good reasons to use it instead of a SMTP ser

[2018-10-12 11:06] MorrisJobke commented on #896
@MariusBluem Mind to remove it?

[2018-10-12 11:07] MorrisJobke commented on #896
See also https://github.com/nextcloud/server/issues/11377 for more details.

[2018-10-12 11:08] MorrisJobke commented on #896
I just noticed that this is already available as a ticket: #854

let's continue there then.

[2018-10-12 11:08] #896 closed

[2018-10-12 15:09] macmeck opened #899 "redirect /.well-known/ to correct port in nginx"
Currently, the documentation for service discovery in nginx proposes to redirect /.well-known/ to proper paths.

[code]
This only works for the standard ports but fails if Nextcloud runs on a different port. A dynamic port parameter should be added to the redirect but I did not yet find out how.

[2018-10-15 05:55] MorrisJobke commented on #899
@josh4trunks Do you have an idea for this? This is basically then the case when there is a reverse proxy infront of Nginx as well :/

[2018-10-15 06:09] josh4trunks commented on #899
I'm confused what a proxy in front of NGINX has to do with return 301. Isn't a return 301 pretty much handled by the client doing a new request for the updated URI.

@macmeck does this work for your scenario? ``return 301 $scheme://$host:PORT/remote.php/dav;``

[2018-10-15 06:19] MorrisJobke commented on #899
It is because the Nginx port is a different one, than the one of the reverse proxy in front of it. Thus the redirect goes to the port of Nginx instead of the reverse proxy. See https://github.com/nextcloud/server/issues/11789 for more details.

[2018-10-16 06:50] daniel-wtd opened #902 "selinux documentation does not reflect needs for "sendmail" configuration"
Setup:
- Nextcloud 14.0.3
- CentOS 7.x
- Apache/httpd
- Postfix

When configuring NC14.0.3 with sendmail (php-mailer no longer works) you will face a situation where sendmail cannot access smtpd and postdrop. There seems not to be a default ruleset in centOS for this. Therefore you have to define your own selinux modules.

The documentation in https://docs.nextcloud.com/server/14/admin_manual/inst

[2018-10-16 07:12] MorrisJobke commented on #902
Do you already have a command ready? Then it would be nice if you would just add it to the page there right here on GitHub: https://github.com/nextcloud/documentation/blob/master/admin_manual/installation/selinux_configuration.rst

Thanks for the hint 👍

[2018-10-16 11:15] daniel-wtd commented on #902
I'll give it a try. Its a little bit fiddly, due to missing default rules.

[2018-10-17 20:53] josh4trunks commented on #899
@macmeck if there is a reverse proxy in front of NGINX, NGINX would not know what port that reverse proxy is using. There is the PROXY Protocol, which allows the reverse proxy to forward additional information about the client connection including client IP:port and server (reverse proxy) IP:port.
https://www.haproxy.com/blog/haproxy/proxy-protocol/

NGINX does support this, but currently does not

[2018-10-20 09:01] tflidd opened #909 "Recommended Update/Upgrade path"
It's the second question this week already and the docs are not clear (https://help.nextcloud.com/t/upgrade-path-from-13-0-2-to-14-0-3/39304):

Is it still recommended to go to the latest point release first before upgrading to the next version?

NC 13.0.2 -> NC 13.0.7 -> NC 14.0.3

or can this be skipped?:

NC 13.0.2 -> NC 14.0.3

[2018-10-23 05:41] ChristophWurst commented on #894
Not sure about this. Are these official APIs? How long do they have to stay stable (untouched)? Why are there no `@since` annotations?

We have to discuss this. As a few of you know, I've been working on a little library with the goal of providing a stable interface to the Nextcloud (server) API: https://github.com/ChristophWurst/nextcloud-server. I'm not yet sure if it's the right way to go but f

[2018-10-23 07:16] juliushaertl commented on #894
I found the jsdoc build script in the server has been broken for quite some time, so with https://github.com/nextcloud/server/pull/11988 it will at least build properly again. But unfortunately the javascript code annotations are really in a bad state. Here is the current jsdoc build result: https://download.bitgrid.net/nextcloud/jsdocs/index.html

I'd approach that the same way we do it with out

[2018-10-23 07:29] ChristophWurst commented on #894
:+1: one reason to write a wrapper was to have the ability to re-export APIs in a typed (TypeScript), structured (proper modules), independent (can be used on CI without the server code, works with existing js analyzers) and modern API design (promises for all aync stuff) without having to change/break the existing functions. Wouldn't hurt to also get the underlying APIs in better shape, of course

[2018-10-23 22:30] danger89 commented on #286
I think something needs to be changed in the manual yet again. I'm using MariaDB v10.3, and this whole innodb_file_format (_max) is now removed. So this MariaDB manual is very confusing for me.

[2018-10-24 03:13] pellaeon commented on #894
So, what's our roadmap for this? I think https://download.bitgrid.net/nextcloud/jsdocs/index.html this one is already quite useful.

[2018-10-24 09:29] nickvergessen commented on #286
Thanks for the hint @danger89 I fixed the docs in https://github.com/nextcloud/documentation/pull/910
You can also find a screenshot of the updated docs there, so you can follow it easier in case you didnt get it done sofar

[2018-10-24 15:02] MorrisJobke commented on #909
Both should work. We don't need to go through all the maintenance releases. We also aim to skip major releases. It's just limited as of now by a hardcoded check and we want to do some in depth testing first before enabling this way.

Does this answer your question? Should we add it somewhere in the documentation? And if so: do you have an idea where people often look for this question?

[2018-10-25 07:48] tflidd commented on #909
At least here: https://docs.nextcloud.com/server/14/admin_manual/maintenance/manual_upgrade.html

[2018-10-25 11:30] juliushaertl commented on #894
We either can build it and add it to docs.nextcloud.com or look for some automated builds, maybe just use readthedocs for publishing?

[2018-10-25 12:02] MorrisJobke commented on #894
We can also automatically build on our systems and publish to docs.nextcloud.com ;)

[2018-10-25 19:33] infroger opened #912 "LDAP "Configuration Active" should have more emphasys"
Hi,

I believe there should be more emphasis about the need to have "Configuration Active" checked in order to have LDAP working.

I spent one day troubleshooting a new installation (v 14) because all LDAP configuration was correct and still got "wrong password" when trying to authenticate an LDAP account.

The current information is buried in the LDAP section of Admin Manual. I believe, right in

[2018-10-25 20:50] MorrisJobke commented on #912
@infroger Do you mind to hand this in as pull request? You could also directly edit the file here on GitHub and create one ;)

[2018-10-26 08:44] macmeck commented on #899
Hm, I just realized that the setup is even worse. Port forwarding is already done by the router upfront. So the machine running nginx and Nextcloud already gets the request on port 443.

So to fix this, we need to find out the port the client used in its initial request.

[2018-10-26 08:55] josh4trunks commented on #899
@macmeck I'm not sure what you are asking me to help with? I though I was helping with deficiencies with the documentation, but it sounds like you need help with your specific setup.

[2018-10-27 17:23] enoch85 opened #915 "Retire all old (unsupported) docs"
As I mentioned in the [SEO Optimize](https://github.com/nextcloud/documentation/issues/517) issue, often old versions of the documentation come up as the first hit in search engines.

Nextcloud does not benefit from that. It's better to have **one** documentation that are public, and the rest would be with robot settings turned off imho.

This way the latest documentation would be the first thing

[2018-10-28 21:18] enoch85 commented on #899
Another use case:

I use Nginx Reverse Proxy with Apache2 as backend. Nginx talks to the internet on port 443 but on port 80 with the Apache backend.

I tried adding the 301 Redirect stuff suggested in issues here on Github in the Apache2 vhost on the backend, but it didn't help.

I'm very interested in how to solve this issue.

[2018-10-29 01:39] josh4trunks commented on #899
@enoch85 We are talking about the NGINX configuration documentation here. If you are doing your redirect in Apache2 that wouldn't be using the NGINX docs.

Also, I am fairly certain my earlier post mentioning PROXY Protocol could be implemented with NGINX > Apache2. With PROXY Protocol Apache2 could always know what port the client is connecting to without any tricks.

[2018-10-29 08:20] enoch85 commented on #899
Yeah, never was an issue before. Seeing this in my "Overview" since 14.0.something.

[2018-10-29 19:56] josh4trunks commented on #899
@enoch85 Your redirect is in NGINX or Apache2? You already can solve it using hardcoded ports in NGINX. I can't really help with Apache2, I'm pretty much a n00b at apache.

[2018-10-29 21:11] enoch85 commented on #899
@josh4trunks This is how it looks like basically:

**Nginx listens:**
[code]
**forwards to Apache2:**
[code]

[code]

**I tried setting this in the Apache2 vhost:**

[code]

[2018-10-29 21:19] josh4trunks commented on #899
@enoch85 And the issue is redirts to /.well-known/* go to port 80?
```Redirect 301 /.well-known/carddav https://cloud.techandme.se:443/remote.php/dav```
Would this not help?

[2018-10-29 21:50] josh4trunks commented on #899
ohh, if it's just the status check, I don't know exactly how that works. But I assume the PHP Nextcloud code needs to know what protocol (http/https), domain, and port to check. Maybe it doesn't know.

[2018-10-30 07:14] enoch85 commented on #899
Well, the issue for me is that check won't work then as it will always produce an error due to the fact that the proxy runs on 443 and the backend on 80.

[2018-10-31 15:02] yugofire opened #917 "Nextcloud 14 administration Manual, Installation wizard enhancement"
Hi,

 I wanted to know if it was possible to replace the next line in the documentation for the installation wizard Line 67:

"You will need the root database login, or any administrator login that has permissions to create and modify databases, and then enter any name you want for your Nextcloud database."

By :
"You will need the root database login, or any administrator login , and then enter a

[2018-11-01 13:53] MorrisJobke commented on #917
@yugofire Sure - best is to hand this in as pull request. I guess you are referring to https://github.com/nextcloud/documentation/blob/master/admin_manual/installation/installation_wizard.rst? Just click the little pencil and propose your change. We then can comment and accept it. 👍

[2018-11-02 10:04] MorrisJobke commented on #858
Fixed

[2018-11-02 10:04] #858 closed

[2018-11-05 12:33] GAS85 opened #919 "Missing information about occ files:scan-app-data"
Hello,
by surfing in tickets I seen one new for me command - `occ files:scan-app-data`, unfortunately it is documented nowhere.
Regards!

[2018-11-05 23:07] MorrisJobke commented on #919
cc @juliushaertl

[2018-11-06 09:10] MariusBluem commented on #599
Fixed. More will happen over here: #923

[2018-11-06 09:11] macmeck commented on #899
Don't we have this issue always if Nextcloud listens on standard http/https ports but sits behind a router that does port forwarding?
So the router receives on https://some.domain:12345 from the Internet and forwards internally to https://nextcloud.lan:443? If I'm not mistaken, the redirects would now point to https://some.domain:443 which would not work, right?

[2018-11-06 14:42] enoch85 commented on #899
This issue is solved for me with [this](https://github.com/nextcloud/server/issues/11850#issuecomment-434320384).

[2018-11-06 19:49] juliushaertl commented on #919
The command was mostly helpful when manually changing files for debugging reasons and scanning the folder again afterwards. Since we now have a repair step that will make sure that caches are cleared properly, I don't see a reason to highlight the command anymore. cc @rullzer

[2018-11-07 08:56] GAS85 commented on #919
I will not agree with this. This command was posted as easy solution to issues with previews:
[one](https://github.com/rullzer/previewgenerator/issues/129) and [two](https://github.com/rullzer/previewgenerator/issues/124).

Solutions are
1. https://github.com/rullzer/previewgenerator/issues/94 - Easy - just run commands and re scans - contains information about listed command.
2. https://github.co

[2018-11-07 11:42] ChristophWurst opened #925 "woff2 missing in nginx config"
Ref https://github.com/nextcloud/server/pull/11932 https://github.com/nextcloud/documentation/blob/75fc0d26c345fd972c3b03b5ed34bfd94bc4a8d2/admin_manual/installation/nginx.rst

`woff2` should be served like `woff` files.

cc @jancborchardt @skjnldsv

[2018-11-07 11:42] ChristophWurst opened #926 "Serve js map files on nginx"
Similar to https://github.com/nextcloud/documentation/issues/925, I discovered that a local nginx instance did not serve any `.js.map` files because it's not part of the extensions that are served statically.

[2018-11-09 09:13] macmeck commented on #899
@enoch85, I think I do not fully understand the solution here. Do you suggest to replace the dynamic $scheme by static https:// ? In this case, this is not a working solution for the issue since Nextcloud is indeed accessed via https (no https offloading upfront) which is correctly being resolved by $scheme.

The issue behind a router that does port forwarding will be that from outside the system

[2018-11-15 10:21] GAS85 opened #927 "simpleSignUpLink.shown from config.php not documented"
Hello, 'simpleSignUpLink.shown' parameter is missing in documentation. Please added it at least as it done in [config.sample.php](https://github.com/nextcloud/server/blob/159d75945a57be7a391cc16a17744adfd4376473/config/config.sample.php#L1665).

[2018-11-15 10:30] MorrisJobke commented on #927
Fixed with https://github.com/MorrisJobke/nextcloud-config-converter/commit/0600adb90cba7fc0c714580530f313a225044377

The next sync (it's currently running) will bring this also to the 14 docs.

Thanks for pointing this out.

[2018-11-15 10:30] #927 closed

[2018-11-16 07:13] Nottt commented on #54
I still find the documentation is lacking :/

Having a lot of difficulty to set up pretty URL with nginx, with nextcloud docker v14, even if I copy and paste and only change some stuff this fails:

https://docs.nextcloud.com/server/13/admin_manual/installation/nginx.html

[2018-11-16 15:55] C0rn3j commented on #517
Would also love a link to `latest`, simple because it gets tedious to keep updating links in other documentation every NC major release.

The way ghost suggested to do it (which is what Owncloud does) would be great.

https://doc.owncloud.org/server/10.0/admin_manual/maintenance/migrating.html
https://doc.owncloud.org/server/latest/admin_manual/maintenance/migrating.html

[2018-11-16 17:07] jospoortvliet commented on #517
perhaps a think to discuss at our https://nextcloud.com/blog/join-us-at-our-next-contributor-week/ - if any of you have any skills to help set things up, you'd be totally welcome to join, discuss & help make it happen!

[2018-11-19 09:15] #925 closed

[2018-11-19 09:18] GAS85 opened #931 "Missing infomration about: appstore.experimental.enabled"
Hi all, just saw in [forum ](https://help.nextcloud.com/t/apps-not-working-in-nextcloud-14/41455)in config sample option `'appstore.experimental.enabled' => true,` but I could not find any information about it. Also in config.sample.php. Could you please update documentation? Or was it depreciated?

[2018-11-19 09:43] MorrisJobke commented on #931
This option was removed a long while ago in Nextcloud 11: https://github.com/nextcloud/server/pull/1940

This setting just does nothing anymore.

[2018-11-19 09:43] #931 closed

[2018-11-20 09:21] timm2k opened #933 ""fastcgi_hide_header X-Powered-By" twice in Nextcloud 14 Documentation"
Hi,

the clause
[code]
appears twice in [Documentation of Nextcloud 14](https://docs.nextcloud.com/server/14/admin_manual/installation/nginx.html?highlight=nginx).

Regards
Timm

[2018-11-20 10:58] MorrisJobke commented on #933
@timm2k Do you mind to send a pull request with this change? You could directly edit here on GitHub by clicking the little pencil in https://github.com/nextcloud/documentation/blob/master/admin_manual/installation/nginx.rst

[2018-11-20 11:19] timm2k commented on #933
Thanks for the hint :-)
This is already fixed in master. I've created #934 for stable14.

Regards
Timm

[2018-11-20 11:19] #933 closed

[2018-11-23 07:51] iamneo2416 opened #941 "External Storage with "other port" usage NEED TO PUT THAT IN DOCUMENT"
My struggle experience for using external storage setup is that my host ftp is not use **21** as port, **21021** instead. Therefore, I do all possible combinations to test connection without luck. Finally, I found a only way which can pass external storage "test connection" and use it. This can be apply for all services that is not using default port for that service. e.g.  **sftp(22)**, **ftp(21)

[2018-11-24 07:44] familyman-131 commented on #845
here's options for nginx virtualhost

[2018-11-26 23:32] tflidd commented on #909
related: https://github.com/nextcloud/documentation/issues/558

[2018-11-26 23:41] tflidd commented on #291
Closed with merge of #388

[2018-11-26 23:41] #291 closed

[2018-11-27 16:54] seatrout opened #953 "Memcache documentation inadequate and dangerous"
The recommendation to use php-apcu is outdated. It suggests adding
`'memcache.local' => '\OC\Memcache\APCu',`
to the config.php file. This breaks everything. I assume it hasn't been edited since these were owncloud docs.
It also - less seriously - assumes people are using PHP5* and not 7*.
But the urgent issue is that adding the suggested line to config.php will break nextcloud in a cascade of 500

[2018-11-28 11:16] tflidd commented on #941
On the bottom of each page you find a link to edit the document, so you can submit the changes yourself.

[2018-11-28 13:50] MorrisJobke commented on #953
It is not wrong itself. Could you check you have enabled the php module apcu? Because otherwise it fails because of this (logged to webserver error log because it can't log to nextcloud log because of missing module)

[2018-11-28 16:41] skjnldsv opened #958 "Old documentations should have an outdated warning"
And have a direct link to the stable manual

[2018-11-28 17:58] seatrout commented on #953
I'm pretty certain I have enabled the module:
I have certainly installed it.
`pi@owncloud:~% _ ls -l /etc/php/7.2/mods-available
total 80
-rw-r--r-- 1 root root 18 Oct 16 10:11 apcu.ini
-rw-r--r-- 1 root root 74 Aug 19 07:56 calendar.ini
-rw-r--r-- 1 root root 71 Aug 19 07:56 ctype.ini
-rw-r--r-- 1 root root 70 Aug 19 07:56 exif.ini
-rw-r--r-- 1 root root 74 Aug 19 07:56 fileinfo.ini
-rw-r--r-- 1

[2018-11-28 18:07] MorrisJobke commented on #953
Could you run php info on the webserver? https://secure.php.net/manual/en/function.phpinfo.php

Basically place a file:

[code]

and then open it on the web server.

[2018-11-29 10:38] skjnldsv opened #967 "Nextcloud 15 Update"
- [x] Remove outdated db schema @rullzer
- [x] Update outdated DI @rullzer
- [x] Update app tutorial @juliushaertl
- [ ] Getting started bump @jancborchardt
- [ ] App structure
- [ ] Makefile/npm standard @ChristophWurst
- [ ] VueJS intro and explanations
- [ ] Rework the order of the app tutorial https://github.com/nextcloud/documentation/blob/NC15-cleanup/developer_manual/app/index.rst @jancborc

[2018-11-29 10:53] ChristophWurst commented on #967
We should also document how to get from database.xml to migrations

[2018-11-29 11:30] seatrout commented on #953
I can't, because I tried to apt-get upgrade to get apcu working on php.7.2,
and it stopped, emitted some terrifying messages about systemd and now
won't reboot.

Currently copying off everything in /var/www, /etc/nginx and similar places
so that I can start with a fresh install and then copy back the stuff I
know works.

-------------------
Andrew Brown
Leader writer,
The Guardian
mobile: +44-(0)7

[2018-11-29 21:07] MorrisJobke commented on #953
Sorry, but as this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

[2018-11-29 21:07] #953 closed

[2018-11-29 23:46] jancborchardt opened #977 "New docs design improvements"
Just some small possible design improvements of the beautiful new docs :sparkles:

- [x] Logo takes a lot of space in the navigation, could be a bit smaller. #986
- [x] On hover/focus of the logo, it should change opacity instead of getting this background box. #986
- [ ] Is it possible to use Nunito as font? See files at https://github.com/nextcloud/server/tree/master/core/fonts
- [ ] Adjust butt

[2018-11-30 08:36] tflidd commented on #915
I'd support the idea to be able to move easily to the current version. However, I'd like the old versions still to be indexed by search engines since there are often some questions about old versions and the documentation changes a bit. I often have troubles of finding stuff based on the structure so I prefer to use a search engine. This wouldn't be possible if these docs are not indexed any more.

[2018-11-30 09:32] MorrisJobke commented on #915
We still think that the oldest doc is priotized, because there the version number is not present in the header. Could this be the case?

[2018-11-30 09:34] MorrisJobke commented on #977
👍 cc @MariusBluem

We also had this idea, but I would really like to stick to the one shipped with the theme. It was chosen for a reason and we get fixes for that from upstream. Let's stick to the standard that is set by the theme creators.

Same as with the font: I would really like to stick to the default from the theme. Otherwise we end up in our own theme again. The style is used by so many do

[2018-11-30 09:35] MorrisJobke commented on #977
Basically this is the same discussion we have in the server with themes/theming app: changing the logo and color is fine - for the remaining stuff you should stick to the one that is shipped. It just makes maintainability easier.

[2018-11-30 09:45] enoch85 commented on #915
I think ownCloud does it nicely actually. Using latest instead of a version number.

https://doc.owncloud.org/server/latest/user_manual/

[2018-11-30 10:15] enoch85 commented on #915
Great!

May I ask which document system you chose? Looks nice!

[2018-11-30 10:16] MorrisJobke commented on #915
We only changed the theme to the one from Read the docs ;) Nothing has changed in the documentation files itself. We only removed our theme and used a general one ;)

[2018-11-30 10:16] enoch85 commented on #915
Well, sometimes default is the best. :D

[2018-11-30 10:17] enoch85 commented on #915
Regarding this issue, let's see how the search bots decides to rank the new URL. Maybe using latest solved everything.

[2018-11-30 14:25] MorrisJobke opened #978 "Migrate Android user manual to user manual"
Move the docs from https://docs.nextcloud.com/android/android_app.html / https://github.com/nextcloud/android/blob/master/user_manual/android_app.rst into the user manual here.

cc @TobiasKaminsky @MariusBluem

[2018-11-30 14:46] korelstar opened #979 "Developer Manual: Merge documentation about localization"
Currently, there are two pages adressing the localization of strings in the developer manual:
- https://github.com/nextcloud/documentation/blob/master/developer_manual/app/view/l10n.rst
- https://github.com/nextcloud/documentation/blob/master/developer_manual/core/translation.rst

The first is for translating in an app, the second for translating in the core. However, most of the content applies f

[2018-11-30 16:44] MorrisJobke commented on #979
:+1: full ack - do you want to prepare this?

[2018-11-30 19:52] jancborchardt commented on #977
Hm, I mean changing the font is really not such a big modification, no? If there’s changed logos (via files) and colors (via CSS) already, we can also add ttf files and a section of CSS for the font? It’s just because epecially the heading font looks really different than our Nextcloud style.

[2018-11-30 20:30] MorrisJobke commented on #977
I still think that this is fine. It’s the docs and not our main product. Changing it for the reason of just having everywhere the same font would then also be the same like changing the sidebar to our style because we use that also everywhere. IMO we should keep as much as possible as it is in the docs to not tweak on the docs and focus our efforts in the product or the content.

[2018-11-30 22:16] jancborchardt commented on #977
To be honest I would also prefer that. ;) I can understand that you would like to focus on the content, but for me showing the design docs to prospective designers, the design _is_ part of the content. :)

[2018-12-01 09:47] skjnldsv commented on #977
I understand your point. But the focus on a documentation is the content and the ease of use.
Let's leave it like that. This is maintainable ad finally we have something usable (and approved by a lot of people looking at the feedback and contribution we receive)
Let's change the logo size, do some small adjustments so it's not completely out of place and remind of nextcloud a bit, but keep it as s

[2018-12-01 10:37] korelstar commented on #979
My English is not perfect and I don't know
- if the section about `l10n.pl` is still needed (is it sill used somewhere?) - or if we should completely switch to `translationtool.phar`, for both apps and server development,
- where to place the merged file: in app development **or** in server development doesn't seem to be sufficient. Maybe we need a reference from app development to core developmen

[2018-12-02 09:43] uusijani opened #981 "Per-user invocation example of occ versions:cleanup is missing users list"
["Using the occ command"](https://github.com/nextcloud/documentation/blob/master/admin_manual/configuration_server/occ_command.rst) documents using `versions:cleanup` either globally or for specific users, with example invocations for both cases. However, said examples are identical in [the current revision](https://github.com/nextcloud/documentation/blob/a22f1055520dac2d6537fb77a6ad059b0439c2ac/a

[2018-12-02 15:53] jancborchardt commented on #977
Fairphone for example uses the same docs software and theme, and they adjusted the typeface:
https://code.fairphone.com/projects/fp-osos/user/fairphone-open-source-os-installation-instructions.html

Looks instantly so much better. So let’s make a distinction here between "we don’t have time to work on it ourselves at the moment" and "this would be very nice to have and a contributor can pick it up

[2018-12-03 02:22] stone212 opened #982 "Redis Information Confusing"
### Steps to reproduce

1.  Navigate to https://docs.nextcloud.com/server/14/admin_manual/installation/source_installation.html#ubuntu-installation-label

2. See the section that mentions adding this to config.php

[code]

3. See the ambiguity because this is under the `SELinux` section but if it only applies to SELinux servers then what implications do I have to know for making redis work on my s

[2018-12-03 08:56] MorrisJobke opened #983 "Finish proof-read of admin manual"
Followup to #980

Not yet touched:

* [ ] Installation on Linux (maybe move VMs and packages stuff out of this section and rename it to preparations)
* [ ] Installation wizard (maybe rename this to "Installation" and merge with parts of the section above)
* [ ] Installing from command line
* [ ] everything below "File sharing and management" (including it)

[2018-12-03 08:59] MorrisJobke opened #984 "Re-organize structure of "install steps" in admin manual"
There is another idea in my head to better organize the admin manual (see screenshots in next comment):

* move "Server configuration"/"Server tuning" to "Installation"
* move "Server configuration"/"Hardening and security guidance" to "Installation"
* rename "Installation" to "Installation and server configuration" because it holds only the installation and configuration of the stack
* rename "Se

[2018-12-03 09:00] MorrisJobke commented on #984
See also the comments by @tflidd and @hanserasmus in https://github.com/nextcloud/documentation/pull/980#issuecomment-443429851

[2018-12-03 09:03] skjnldsv commented on #984
Really looks cleaner I'd say! :100:

[2018-12-03 09:47] MorrisJobke commented on #984
Keep in mind, that the screenshots are the current way. You still need to apply my stated changes ;)

[2018-12-03 09:48] tobiasKaminsky commented on #978
Fine by me :+1:
@MariusBluem can you give it a first shot and I'll review it?

[2018-12-03 10:15] MorrisJobke commented on #977
Both of them are fixed in #986

[2018-12-03 10:16] MorrisJobke commented on #977
Actually I find it harder to read 🙈

[2018-12-03 10:17] MorrisJobke commented on #977
I was refering not to "we don't want to work on this", but rather at "we don't need to change everything always".

[2018-12-03 13:01] MorrisJobke commented on #958
I'm on it.

[2018-12-03 13:34] MorrisJobke commented on #958
Fixed by the above PRs.

[2018-12-03 13:34] #958 closed

[2018-12-03 13:43] MorrisJobke commented on #982
We are currently doing a bit of restructuring on the docs. Best is to include this feedback into the ticket #984

[2018-12-03 14:05] MorrisJobke commented on #979
`l10n.pl` is not there anymore. Everything should use the translationtool.

[2018-12-03 14:05] MorrisJobke commented on #979
Good question. I guess it's fine to only document it in app development and say then in the server that it works the same as the translation for all apps with a link to it.

[2018-12-03 15:16] korelstar commented on #979
... on the other hand, https://docs.nextcloud.com/server/15/developer_manual/core/translation.html is on the first level in the doc's navigation. Maybe, this should be changed if it's only a reference.

[2018-12-03 15:20] MorrisJobke commented on #979
Yes - the menu structure needs to be improved.

[2018-12-04 09:08] Ekleog opened #1001 "[doc] WebDAV on Windows"
Hello,

Just wanted to point out that https://github.com/owncloud/documentation/pull/2668#issuecomment-260697742 should likely be added to Nextcloud's docs. Didn't manage to run the integrated WebDAV client until following this procedure.

HTH,
Leo

[2018-12-04 20:21] MariusBluem commented on #978
Yes.

[2018-12-05 07:21] bekl101 commented on #899
Same promblem here. I use the 15.0 RC2 and recieve the message ".well-known" problems.
I use a forward-proxy (nginx) in front of the nextcloud-server. Everything works fine before, but now i can´t configure carddav or caldav on an iPad. Nothing in my server installation, neither forward-proxy nor nextcloud-server, changed exept nextcloud version.
Is there any change in Nextcloud which can cause th

[2018-12-05 12:51] victorbw opened #1010 "Documentation: behaviour with empty LDAP user-attributes undocumented"
As mentioned here [#12582](https://github.com/nextcloud/server/issues/12582), there's no documentation about what happens when LDAP user-attributes are left empty:

![grafik](https://user-images.githubusercontent.com/8447071/49514573-ba585700-f894-11e8-981d-0ff4be0668e0.png)

Sugestion for somewhere in the top chapter of LDAP-documentation:

**Note**

When a LDAP object's name or surname is left e

[2018-12-05 17:45] MorrisJobke commented on #1010
cc @blizzz

[2018-12-07 15:21] #977 closed

[2018-12-10 06:17] MYJN opened #1029 "Error occurred while checking server setup"
Nginx 1.15.6
PHP-7.2
CENTOS 7
nextcloud logging：No server logs
Hi, everyone.
How can we solve this mistake?

[2018-12-10 08:04] rullzer opened #1030 "Move recommendation to 18.04"
We still recommend 16.04 in the docs. 18.04 shoud be used.

[2018-12-11 00:10] J0WI commented on #1030
Also note that PHP 7.0 is EOL (but Debian/Canonical provide security patches).

[2018-12-11 00:16] J0WI commented on #845
Fixed in #856

[2018-12-11 00:16] #845 closed

[2018-12-18 17:15] cedewey commented on #563
I'd love to help with this if possible, is there someone on the NextCloud team who can check in with me to help resolve this issue?

[2018-12-19 12:34] fgsl commented on #1029
@MYJN, this is not a issue of documentation. Close it and open in https://github.com/nextcloud/server.
Add your config file..

[2018-12-19 12:37] #1029 closed

[2018-12-19 16:13] fgsl commented on #1001
I think that this issue was solved by this [commit](https://github.com/nextcloud/documentation/commit/2f9c384209013cb97974737ea434e947bd50c26d)

[2018-12-19 16:37] Ekleog commented on #1001
I don't think it's solved. The problem here is that one needs to configure windows to automatically start the webdav client and reboot before being able to add a webdav device, as far as I understand. Not in the URL of the webdav endpoint. Also, my nextcloud version appears to already include this commit as the linked url is `/webdav`.

[2018-12-19 23:58] J0WI opened #1058 "Update RHEL/CentOS docs to use PHP 7.1+"
PHP 7.0 is EOL:
https://docs.nextcloud.com/server/stable/admin_manual/installation/php_70_installation.html

[2018-12-22 21:42] frju365 commented on #216
any update ?

[2018-12-23 10:46] tflidd opened #1068 "sharing options occ command missing in documentation"
In the occ list command, there is one to clean remote storages. This point is completely missing in the docs (https://docs.nextcloud.com/server/13/admin_manual/configuration_server/occ_command.html):
[code]

[2018-12-23 21:01] marcelklehr commented on #627
I think it would be better to remove the section entirely instead of having information that's plain wrong.

[2018-12-24 06:56] skjnldsv commented on #627
@marcelklehr could you help? :)

[2018-12-24 12:54] JochenHWezel opened #1069 "Rewrite Rule sample typo error"
At https://docs.nextcloud.com/server/14/admin_manual/issues/general_troubleshooting.html#service-discovery there is a typo
[code]
needs to be
[code]

Only with the / in the beginning, the rules are working.

[2018-12-26 14:06] #1030 closed

[2018-12-30 16:39] mbouzada opened #1084 "Locate project "support" page"
Hello

I need to find the project page that is referred to in the downloads to install
./apps/support/

and in Transifex
https://www.transifex.com/nextcloud/nextcloud/translate/#gl/support/149458269

Can anybody help me?

P.S. / Search the author's git (https://github.com/MorrisJobke (and I did not find anything either.

[2018-12-31 11:40] uusijani opened #1085 "Point "latest version" links to specific page"
As discussed in [#915](https://github.com/nextcloud/documentation/issues/915) and [#517](https://github.com/nextcloud/documentation/issues/517), Google seems to prefer old versions' documentation at the expense of newer ones for some reason. The issue was partly mitigated by the fix for [#958](https://github.com/nextcloud/documentation/issues/958), which added prominent links to the latest version

[2018-12-31 13:31] skjnldsv commented on #1085
Don't you think we shouold just wait for google to update evrything?
We could also declare the old ones as outdated to google?
Or remove them from the google robots?

Plenty of ways to make sure eople don't land there again :)

[2018-12-31 16:36] uusijani commented on #1085
@skjnldsv The points you raise are about SEO, and (from what I linked to above) I believe those issues are already being worked on. In case I was unclear, I'm _not_ arguing for my idea to _supplant_ the SEO work currently in progress, but to _augment_ it.

Obviously, if #915 gets implemented as requested, my issue becomes moot, but from reading the comments there I understand it's not so cut and d

[2019-01-01 23:38] tflidd opened #1090 "Missing permission settings for config folder"
For this hint in the code:
https://github.com/nextcloud/server/blob/c39a14ee507b8f5f2e06d44b01666c98d5b29c42/lib/private/legacy/util.php#L756-L759

There is no information at the corresponding site of the documentation:
https://docs.nextcloud.com/server/14/admin_manual/installation/installation_wizard.html#setting-strong-directory-permissions

Can we have a check, if the references in the code sti

[2019-01-01 23:40] tflidd commented on #1090
Last time this link is working is for NC 9!!!
https://docs.nextcloud.com/server/9/admin_manual/installation/installation_wizard.html#setting-strong-directory-permissions

[2019-01-02 14:19] MorrisJobke commented on #1058
cc @hanserasmus @michag86

[2019-01-02 14:20] MorrisJobke commented on #216
cc @jospoortvliet

[2019-01-02 14:20] MorrisJobke commented on #1068
cc @MariusBluem

[2019-01-02 14:21] MorrisJobke commented on #1069
@JochenHWezel Could you directly change it in https://github.com/nextcloud/documentation/edit/master/admin_manual/issues/general_troubleshooting.rst. Then we can directly take the changes and don't need to redo them. Thanks :)

[2019-01-02 14:21] MorrisJobke commented on #1069
The link to this is also at the top of every documentation page 😉

[2019-01-02 15:17] michag86 commented on #1058
There are packages for 7.2 available at the software collections. I will update my systems in the next weeks if all packages are available. Maybe I can update the docs if I will find the time to do it.

[2019-01-02 15:17] muppeth commented on #216
@frju365 from my side i can say together with some community members responsible for most howtos and translations we are planning a (first) meeting where we discuss how to coordinate efforts in disroot howtos and tutorials and one of the subjects is how we can contribute upstream.

[2019-01-02 19:01] MariusBluem commented on #1068
I will take care of it.

[2019-01-02 20:18] JochenHWezel commented on #1069
@MorrisJobke sorry - I don't find the reuqired spare time for this handling with sources and forks etc. - could you please do it?

[2019-01-02 20:58] MorrisJobke commented on #1069
My intention was to guide you, because it isn't really that hard anymore. You literally click that link I posted (or in the documentation at the top), then you do the change and you press "Save" together with a message why this change was made. No need to handle forks or check out files locally. :wink

[2019-01-02 21:01] MorrisJobke commented on #1069
Fix is in #1100

[2019-01-03 11:38] blizzz commented on #984
The suggestions are reasonable.

"Automatic configuration setup" is also a candidate for Installation, as it does not make sense to have it after you are already looking the admin panel.

[2019-01-03 11:47] MorrisJobke commented on #984
I will have a look at this :)

[2019-01-03 15:59] mbouzada commented on #1084
@MorrisJobke If possible, I need to have access to the packages ./l10n/ (gl.js, gl.json) generated from the translation in Transifex (v. 15), to make a customization for version 14

[2019-01-03 21:31] rullzer commented on #627
This has recently been updated https://docs.nextcloud.com/server/stable/developer_manual/app/backgroundjobs.html

[2019-01-03 21:31] #627 closed

[2019-01-04 09:35] JochenHWezel commented on #1069
@MorrisJobke It would be nice if it could be that easy! Currently and with the given link, I just see
![image](https://user-images.githubusercontent.com/14078625/50681550-31a41680-100c-11e9-9c7d-14070b6a3da8.png)
Maybe the authorizations for you are differently and it's possible to you. This might be misleading that everybody could do it the same way?

[2019-01-04 10:35] MorrisJobke commented on #1084
Those files are also present in the release tar ball, or aren't they?

[2019-01-04 10:53] mbouzada commented on #1084
@MorrisJobke
According to https://nextcloud.com/changelog/#latest15 The last published version is from December 10, the translation must be later because Galician files are not yet integrated

[2019-01-04 18:41] MorrisJobke commented on #1084
@mbouzada Today or on Monday there is a release for 15.0.1 RC 1 planned which ships the updated translation files. Nevertheless you can find the latest version of the gl.js and gl.json here: https://gist.github.com/MorrisJobke/cdf9d1eacacb6ae48f94c0c703e2284f

[2019-01-04 19:48] mbouzada commented on #1084
Thanks!

[2019-01-04 22:32] MorrisJobke commented on #899
I guess the hardcoding still makes sense, or am I completely wrong? See #1114

[2019-01-04 22:33] #1069 closed

[2019-01-04 22:34] MorrisJobke commented on #1069
Ah - okay. But then this is the only additional click you need to do. Github does the forking for you and after the change is merged you can delete the forked repository again. Anyways - thanks for the hint and the update.

[2019-01-05 10:09] skjnldsv commented on #1058
@michag86 thanks a lot :)

[2019-01-08 07:28] hanserasmus opened #1122 "Some missing pages in server configuration for newest versions"
Just helped a user on Community forum looking for instructions how to configure SSO/SAML.  Found old ones [for 12](https://docs.nextcloud.com/server/12/admin_manual/configuration_server/sso_configuration.html), but they seem to have disappeared for 13+? Maybe under a new heading somewhere? Searching for SSO, SAML or anything relevant only showed results for the apps available page. No config page.

[2019-01-08 09:37] skjnldsv commented on #127
@bencomp Please go ahead! :)

[2019-01-08 15:37] MorrisJobke commented on #1122
We moved them to the portal AFAIK. cc @jospoortvliet

[2019-01-08 17:27] #1122 closed, assigned to nobody

[2019-01-08 23:34] bencomp commented on #127
@MariusBluem done! Great work!

[2019-01-09 22:33] #979 closed

[2019-01-12 12:36] stone212 opened #1137 "Update screenshots about the built-in updater"
### Steps to reproduce
1. Go to https://docs.nextcloud.com/server/15/admin_manual/maintenance/update.html
2. Attempt to match this to an installation of NC14 (upgrading to NC15)

### Expected behaviour
You should get the notification on your screen like the doc says OR the doc should not say it.

Also your screen should look like the screenshot (of version 10) OR the screenshot should be of a supp

[2019-01-13 11:38] tflidd opened #1132 "Add documentation for ransomware app"
I haven't found a documentation about the ransomware app. Surely it detects for certain patterns, but what happens if ransomware was detected?

If there is a real infection, what is the procedure who finally enables the client again (does the admin need to authorize that?)

And if it is a false positive, what can I do?
A user actually has his problem -> https://help.nextcloud.com/t/constantly-bein

[2019-01-14 10:16] MorrisJobke commented on #1132
I guess you are referring to https://apps.nextcloud.com/apps/ransomware_protection

Then @nickvergessen might help with that.

[2019-01-14 11:48] nickvergessen commented on #1132
I'm not sure it belongs into the normal docs, but yeah a readme should be added to the repo:
https://github.com/nextcloud/ransomware_protection/

[2019-01-14 11:48] #1132 closed

[2019-01-14 12:13] nickvergessen commented on #1132
Explanation at https://github.com/nextcloud/ransomware_protection/#how-the-app-works

[2019-01-14 22:11] brainchild0 opened #1141 "versioning documentation confusing and incomplete"
Currently the user manual (as well as the admin guide) does not give a user unfamiliar with versioning a clear indication of the features and their uses.  Much of the discussion relates to automatic deletion of saved versions, without any explanation of how and when versions are created.

Questions that should be addressed are:
1. When are new versions created?  Is it automatic or manual?  Is ever

[2019-01-15 05:05] stone212 commented on #1137
@MorrisJobke

I don't know what you mean by the badge or notification.  These things are not related to the Issue.  This is not an enhancement.  It's fundamental to the project.  How can you not see that?  Your doc does not exactly match the intstaller's experience.  That means you're not even ready for beta testing.

[2019-01-15 05:26] stone212 opened #1142 "File Permissions"
On the "instructions" page here: https://docs.nextcloud.com/server/15/admin_manual/maintenance/manual_upgrade.html

you will see this:

[code]

Two steps later you have:

[code]

The output of this is:

`Could not open input file: occ`

You have to re-set the file permissions to 755 and then you can run this.

[2019-01-15 07:44] MorrisJobke commented on #1137
@stone212 What specific is wrong and what should it be? Could you give one example, because I think we talk about different things otherwise.

[2019-01-15 07:45] MorrisJobke commented on #1141
cc @schiessle

[2019-01-15 08:05] stone212 commented on #1137
@MorrisJobke

This is a really crazy question for a document.  Only the devs know the answer to this because the rest of us do not have a doc to use to upgrade to NC15.  So maybe you should do the normal thing and have the devs write the process for upgrading and then have someone who is not on the team try it and see if it works.  I already told you that the problem right now is that the page doe

[2019-01-15 08:53] MorrisJobke commented on #1137
Please be a bit more constructive. I feel quite offended with that language and that typically does not help to motivate to work on this topic. That is the first time we got this request and we got on the other hand a lot of feedback that the upgrade went just smoothly, which let's me assume, that others have found the updater without even looking at the documentation, which should be the ultimate

[2019-01-15 08:56] MorrisJobke commented on #1142
The executable bit should not be needed, because it is called with `php` infant, which leaves to permissions like `644` (`755` minus the executable bit), which is then only a diff of the read permission for others, which should not be needed as you are `www-data` and thus the owner. Could you do an `ls -la` in the directory to check what are the specific permissions and owners? Maybe the find comm

[2019-01-15 09:43] stone212 commented on #1142
@MorrisJobke

[code]

Ubuntu 16.04

[2019-01-15 09:49] tobiasKaminsky opened #1148 "Code tag not wrapped"
If we have a code tag which is too long, it does not get line wrapped.

![image](https://user-images.githubusercontent.com/5836855/51172254-20cc8e00-18b3-11e9-8cab-f65af6c14b72.png)

[2019-01-15 10:15] skjnldsv commented on #1142
try `sudo -u www-data php ./occ` ?

[2019-01-15 11:05] MorrisJobke commented on #1148
@skjnldsv Any idea? Maybe we should also fix this upstream 😉

Or could this be done in another way, because I have seen code that was in a scrollable box .

[2019-01-16 16:17] MorrisJobke commented on #1142
We want to understand, why this fails on your system. Do you use SELinux maybe? Because the documented permissions work fine on our systems 😕

[2019-01-17 07:02] tobiasKaminsky opened #1169 "Android contacts sync #2"
I would also add the other way around:

open android app
go to settings
click on "synchronize calendar & contact"
--> dax x5 will be downloaded and server / username filled in, but password needs to be typed in again

[2019-01-17 08:46] MorrisJobke commented on #1142
In my case it's a Debian and an Ubuntu 16.04 and both work totally fine:

[code]

[2019-01-17 08:58] stone212 commented on #1142
@MorrisJobke You did not post what command you ran for the chmod.  I showed you my file permissions were different from that after I ran the commands in the howto.

[2019-01-17 10:06] MorrisJobke commented on #1142
I didn't ran any command, but it has the very same permissions, as if I would ran the command.

I highly doubt that the executable flag has influence if a file can be opened or not, because it is the executable flag. Also as this is more a setup issue here I will close it for now and would like to ask you to raise your question in the forums: https://help.nextcloud.com

If you wish support with se

[2019-01-17 10:06] #1142 closed

[2019-01-17 10:19] stone212 commented on #1142
@MorrisJobke

So you did not even try to duplicate the problem before closing the ticket?  I guess that's normal laziness from a doc team that has screenshots from five versions ago.

But you didn't test so your doubt don't mean anything.

Right.  Anything you can do to avoid your responsibility to have correct docs.  I see how you work.

I set this up days ago and I explained how I did it.  I log

[2019-01-17 22:00] MorrisJobke commented on #1142
It's not laziness - it's more a "I know what this command does and it results in exactly this". But to defend against this I executed now this command on a Ubuntu 18.04 just for you. And it turns out: it still works here just fine.

It does mean something if the command in question is highly unlikely responsible for the symptoms you described.

That's not what we want to and we will also adjust do

[2019-01-17 22:07] MorrisJobke commented on #1142
One last try: could it be that the dot-files don't have the correct permissions? Espcially the `.htaccess` file? Is it writable by www-data? Because there were such reports in the forum, which where solved by this.

[2019-01-17 22:09] MorrisJobke commented on #1142
And another one: could you run `pwd` and show the output? And then run `sudo -u www-data php occ` and show the output as well?

[2019-01-18 06:57] rullzer commented on #1142
@stone212 please be a bit more respectful and understanding. I would like to remind you of our code of conduct https://nextcloud.com/code-of-conduct/

@MorrisJobke has explained why he didn't blindly took over your suggestions. I have tried the steps on the 4 systems I have access to as well and as far as I can tell the docs are correct.

[2019-01-18 13:17] stone212 commented on #1142
@MorrisJobke

Now you're starting to make sense!

I agree.  But you didn't *start* to debug.  You just gave up.

Again I have to remind you that I already have NC working.  *I* am helping *you* to fix your docs not the other way around.

I will do the debug steps when I build a test server to test new NC features.

[2019-01-18 13:20] stone212 commented on #1142
@rullzer We're on GitLab not your website so your CoC does not apply.  I never was rude or violated GL's CoC.  There are people trying to work here.  Please don't waste our time.

[2019-01-18 13:37] stone212 commented on #1142
@MorrisJobke

This does not make sense.  If you did not test then it is not proof.  It is a belief.

I agree!  That is why I am helping you debug.

No that is not true.  You may not choose the rules when it is not your house.  Anyway no one here was inappropriate to anyone else.  Just you didn't want to fix the docs.

[2019-01-18 13:42] jancborchardt commented on #1142
@stone212 I actually unlocked this issue again to give you a chance to say sorry. Seems you are not sorry.

Our code of conduct applies in all of our online and offline spaces. This includes all our repositories on Github amd our forum too. And your tone is not welcome in our community.

-------

Sorry to @MorrisJobke and @rullzer that I reopened to let more hateful comments in.

[2019-01-19 11:21] MariusBluem commented on #1169
Just to understand this correct: With Android app you mean the Nextcloud Android app, which allows you to download DAVx5 and auto-configure CalDAV and CardDAV with only need for a password?

[2019-01-19 22:14] frlan opened #1180 "Section available rules for "Automated tagging of files" lead to wrong chapter"
At https://docs.nextcloud.com/server/14/admin_manual/file_workflows/automated_tagging.html?highlight=automated#available-rules the link points to avaialbe  fules for ACL, not for tagging.

[2019-01-21 08:18] tobiasKaminsky commented on #1169
Yes, I would say, that you shall try it, but iOS user… ;-)

To clarify "dax x5 will be downloaded" -> it gets opened in gplay/fdroid and after installation server / username are auto-filled in.

[2019-01-22 10:33] jancborchardt opened #1187 "-white icon version for icon-view elements is not necessary"
The icon-view icons are already white and have a drop shadow, because they are made to work on any background. We shouldn’t generate -white versions for them, as they have the infamous white shadow. ;)
![icon-view icons with white shadow](https://user-images.githubusercontent.com/925062/51529473-08bbb800-1e39-11e9-861b-e2903b4a187d.png)

What do you think @nextcloud/designers?

[2019-01-22 11:44] skjnldsv commented on #1187
@jancborchardt this is a server issue then :)
Do you wish:
1. to have the icon set to dark as well (a proper invert, because seeing your screenhsot I can see that the shadow is inverted but not the main colour)
2. or to not generate white versions of those icons? :)

[2019-01-22 13:21] jancborchardt commented on #1187
This please. :) Because as said, "they are made to work on any background" (as they need to work on top of images in the slideshow), and thus we don’t need a white version at all.

Thank you! And yeah, wasn’t sure if it’s server or docs. :)

[2019-01-23 11:05] tobiasKaminsky opened #1191 "Doc for Thumbnail API"
Doc for
- thumbnail api
- trashbin thumbnail api
are missing

[2019-01-24 13:51] #1058 closed

[2019-01-27 23:14] MariusBluem commented on #289
Seems to be done.

[2019-01-27 23:14] #289 closed

[2019-01-27 23:16] MariusBluem commented on #563
Closing in favor of #127. The missing docs for calendar will come very soon.
@cedewey I'll mention you when there is a PR ready for reviewing. Thanks!

[2019-01-27 23:16] #563 closed

[2019-01-29 09:00] #1187 closed

[2019-01-30 22:33] dhebert91 opened #1210 "Manage connected browsers and devices not compliant with actual UI"
This file form the user manual is not updated.
The screenshot are to old and the contents is not compliant with the actual user interface.

[2019-02-01 15:47] MorrisJobke commented on #984
Just thought about this and I would keep it where it is now, because it takes care of "once your webserver is configured you can continue with finishing the Nextcloud installation".

[2019-02-01 15:59] MorrisJobke commented on #984
I did this in #1214

[2019-02-01 21:57] #984 closed

[2019-02-03 08:45] MariusBluem commented on #127
#1221 is a PR for our calendar docs (finally). Please review this draft and give some feedback :)

[2019-02-05 09:17] MorrisJobke commented on #1010
Fix is in #1057

[2019-02-05 09:18] #1010 closed

[2019-02-06 09:05] tjaisson opened #1233 "Missing 'new' keyword in code sample"
In the code sample about [Public page templates](https://github.com/nextcloud/documentation/blob/master/developer_manual/app/requests/controllers.rst#public-page-templates) there is a missing 'new' at PublicTemplateResponse class creation.

[2019-02-06 09:13] MorrisJobke commented on #1233
Could you click the little pencil icon on that linked page and hand in your request as actual changes? Because I could not spot the missing part 🙈 That would help us a lot 😃 Thanks

[2019-02-06 11:08] tjaisson commented on #1233
I submited #1234
I hope this helps.

[2019-02-06 11:18] #1233 closed

[2019-02-07 16:45] rgr101 opened #1239 "Clarify owner/group requirements for data folder"
I understand that Nextcloud loves to get www-data as owner and group of all its folders and that's the goal to achieve. But there are various installations where this utterly is not possible, eg. in shared hosting env's, or, in my special case:

Running Nextcloud in a Virtual box VM and the data folder configured (for good reason and carefully treated!) on a shared vbox folder. In this case, owner

[2019-02-09 12:28] lenucksi opened #1240 "Publish documentation as epub"
Thanks for Nextcloud and the good documentation in the first place!

I searched for an epaper-usable version of the entire documentation in one document, however only found a PDF version on docs.nextcloud.com.

Given that you are using Sphinx to build your documentation and Sphinx has an epub renderer (https://www.sphinx-doc.org/en/master/usage/builders/index.html?highlight=epub) would you conside

[2019-02-10 22:55] novalis111 commented on #1001
I can confirm that this is not solved and should be documented. Tested with Nextcloud 15 and nginx 1.14.0 on Ubuntu Server. The problem is Windows handling of WebDAV connections falling back to root. The nginx config needs to be tweaked to work around this, and the windows file limit for WebClient needs to be raised.

https://github.com/owncloud/documentation/pull/2668#issuecomment-259909754

http

[2019-02-11 10:03] #127 closed

[2019-02-16 13:41] blipp commented on #1069
Hi, I am using Nextcloud 15.0.4, and I actually need to _not_ have these slashes to get the rewrite rules to work. I am using Apache on Uberspace version 7.

[2019-02-16 13:42] blipp commented on #1069
@JochenHWezel Did you upgrade to Nextcloud 15 in the meantime? Do you have anything else in your .htaccess?

[2019-02-17 10:22] shorty-look opened #1258 "Missing Nextcloud User Manual PDF file"
Hello.
This link not work fine: https://docs.nextcloud.com/server/stable/Nextcloud_User_Manual.pdf
I need User Manual in a PDF file for Nextcloud 15 version
Thanks.

[2019-02-17 11:08] JochenHWezel commented on #1069
@blipp  In fact, Nextcloud 15 already runs productive on my server for several weeks. This is my current site confguration file, but there is no additional change regarding rewrite rules except that I prefer 302 redirects instead of 301 redirects.

[code]

[2019-02-18 15:57] skjnldsv commented on #1258
@MorrisJobke @blizzz ?

[2019-02-18 16:05] MorrisJobke commented on #1258
Broken due to usage of gifs ...

[2019-02-18 16:05] MorrisJobke commented on #1258
See failing tests on docs repo.

[2019-02-18 16:06] MorrisJobke commented on #1258
https://drone.nextcloud.com/nextcloud/documentation/2047/3

PR: https://github.com/nextcloud/documentation/pull/1221

[2019-02-18 16:06] MorrisJobke commented on #1258
Let's move this over to the documentation repo.

[2019-02-18 16:06] #1258 closed

[2019-02-18 18:50] shorty-look commented on #1258
"Access forbidden" for Nexcloud 14 User Manual too: https://docs.nextcloud.com/server/14/Nextcloud_User_Manual.pdf
Can you fix it, please?

Thanks.

[2019-02-19 08:27] MorrisJobke commented on #1258
We are aware and working on it.

[2019-02-19 09:47] shorty-look commented on #1258
thank you @MorrisJobke, I just wanted to inform you that there is the same problem for version 14 as well.
;)

[2019-02-19 09:55] MorrisJobke commented on #1258
Fixed via #1266

[2019-02-23 12:52] tflidd opened #1275 "Add information about E2E encryption"
The client-side encryption is not really documented, there is nothing about the current 2.5 desktop client. Without documentation it is hard to answer them without trying each option yourself (still it would be hard to say if this is default behavior, some mis-understanding function or a bug). In the forum, there are already questions piling up:
https://help.nextcloud.com/tags/e2e

[2019-02-24 11:20] tflidd opened #1276 "NC desktop client 2.5"
It would be great to update the desktop client documentation, since there are a lot of new features:
https://help.nextcloud.com/t/nextcloud-desktop-client-2-5-is-out-with-end-to-end-encryption-new-login-flow-and-much-more/41132

[2019-02-26 09:12] MorrisJobke commented on #1276
There was the idea to integrate it right here - currently it's build from https://github.com/nextcloud/desktop/tree/master/doc and wasn't updated for a long time there :/

[2019-02-26 09:12] MorrisJobke commented on #1276
cc @camilasan @rullzer

[2019-02-26 09:13] MorrisJobke commented on #1275
cc @tobiasKaminsky @schiessle @rullzer

There is currently the technical part in https://github.com/nextcloud/end_to_end_encryption_rfc/blob/master/RFC.md

[2019-02-26 10:55] tobiasKaminsky commented on #1275
On android side we do have some intro while setting up E2E, but no dedicated help/info.
As with other parts I would rather go with a better UI/UX than having a real documentation.
After all E2E should work seamless without knowing technical parts.
If people cannot set it up properly, we failed at UX.

But in general, please note that there are currently know bugs, especially in Desktop.

[2019-03-02 09:45] skjnldsv commented on #915
Still not great :(
https://www.google.com/search?hl=en&q=nextcloud+config+docs
![capture d ecran_2019-03-02_10-44-12](https://user-images.githubusercontent.com/14975046/53680188-26056100-3cd8-11e9-8081-4b8f7cbd9936.png)

Maybe we should start doing some seo stuff and manually ask google to not scan old docs?
We can leave them, but add them to robot.txt?

[2019-03-08 09:36] pheanex opened #1294 "Encryption increases filesize by 35%"
The documentation says ["Encrypting files increases their size by roughly 35%"](https://github.com/nextcloud/documentation/commit/25da10cf544ce421237be8f6d146197043832909)
Does someone know why this is the case and should it really be like that?

[2019-03-08 12:51] MorrisJobke commented on #1294
cc @schiessle @nextcloud/encryption

[2019-03-09 13:34] dragonandy opened #1295 "Add fail2ban configuration documentation"
add fail2ban configuration documentation
refference link:
https://github.com/nextcloud/vm/blob/master/apps/fail2ban.sh

[2019-03-13 18:39] lvarnava opened #1305 "May need to be fixed in mount guide webdav"
may need to be fixed in mount guide webdav:
https://docs.nextcloud.com/server/15/user_manual/files/access_webdav.html

Creating WebDAV mounts on the Linux command line
...
![Screenshot_2019-03-13_21-27-30](https://user-images.githubusercontent.com/32108411/54305037-84371b80-45d7-11e9-9c60-54a7fadb2730.png)

URL without https://
replace with

https://example.com/nextcloud/remote.php/dav/files/USERN

[2019-03-13 21:38] MorrisJobke commented on #1305
@ivarvava Could I ask you to do the changes directly under this link: https://github.com/nextcloud/documentation/edit/stable15/user_manual/files/access_webdav.rst

I guess it's then easier for us to follow up and get this in.

Thank you very much already for this. :)

[2019-03-14 09:32] lvarnava commented on #1305
Donе.

[2019-03-14 11:05] MorrisJobke commented on #1305
Did you also open a PR for this, because I can't find it.

[2019-03-14 15:52] #1305 closed

[2019-03-20 11:40] jknockaert commented on #1294
I've often been wondering why that is the case, and I've been thinking that it shouldn't really be like that. But any change here could open a can of worms. When I was working on the encryption wrapper I remember that the block sizes were hardcoded in some places.

[2019-03-23 00:29] rpatel-rnits opened #1336 "File Access Control using Tags"
![image](https://user-images.githubusercontent.com/5283163/54859192-a9ffa700-4ce0-11e9-8e98-5a52eab98829.png)

I created the above logic and it works, but there is a bug.  I created a folder, called "Project A".  In the folder, I created 3 other folders, "Contracts", "Project Plans", and "Meeting Minutes".  The Contracts folder is restricted to only some users, in this case "Internal users".  So I

[2019-03-23 00:31] rpatel-rnits commented on #1336
Oops, just realized I put this under documentation.  We need to move this under Server.

[2019-03-31 08:22] tflidd opened #1340 "Recovery key documentation outdated since NC 13?"
https://help.nextcloud.com/t/recovery-key-field-missing/50590

Please clarify and correct the documentation if that is not correct any more.

[2019-04-01 00:23] sirpresident opened #1341 "01 Fix Mention about PR#1328"
Fix mention @fgsl  about:

"user_manual_pt-br/files/access_webdav.rst

Você eliminou as linhas 145 a 148 do arquivo original na tradução."

[2019-04-01 03:00] #1341 closed

[2019-04-01 03:04] sirpresident opened #1342 "02 Fix Mention about PR#1328"
Fix mention @fgsl about:

#1328 A orientação para a documentação é quebrar as linhas em 80 caracteres.
Você tem linhas que excedem o limite, como a linha 37 do arquivo user_manual_pt-br/files deleted_file_management.rst. Faça a quebra das linhas quando alcançar o limite.

Procure manter as mesmas quebras de linha, desde que não exceda o limite de 80 caracteres. Se tiver que dividir uma linha em du

[2019-04-01 03:15] #1342 closed

[2019-04-01 10:03] MorrisJobke commented on #1340
cc @schiessle @rullzer

[2019-04-01 10:08] schiessle commented on #1340
yes, be default we use the master key. In this setup no recovery key exists. You can still switch to per-user keys, then the recovery key is available again. So yes, we should update the documentation.

I see two options:

1. Make it clear that this option doesn't exists by default but only in the special "per-user-key-setup" which the admin needs to enable via occ right from the beginning

2. rem

[2019-04-01 17:02] t-markmann opened #1344 "CMS (GRAV?) converts -- to -"
Double hyphens are converted to single hyphen by the CMS.

Example: https://docs.nextcloud.com/server/15/admin_manual/configuration_database/bigint_identifiers.html

 –no-interaction should be --no-interaction

This error could appear in other pages in the documentation as well.

[2019-04-02 05:17] MorrisJobke commented on #1344
Fix is in #1348

[2019-04-02 08:07] #1344 closed

[2019-04-04 18:11] j-ed opened #1353 "Hardening and security guidance - add information about strong directory permissions"
Very often administrators want to know how the directory permissions of Nextcloud should be set best. I searched the Nextcloud documentation for information about it, but couldn't find a chapter covering it. The [**Hardening and security guidance**](https://docs.nextcloud.com/server/15/admin_manual/installation/harden_server.html?highlight=hardening#hardening-and-security-guidance) doesn't cover t

[2019-04-04 21:19] eogan opened #1354 "Nginx configuration files swapped between webroot and subfolder ?"
Hello,

The nginx config file for webroot installation reads:
[code]

The nginx config file for subdir installation reads:
[code]
It seems to me the two files were swapped. What do you think ?

[2019-04-05 06:28] skjnldsv commented on #1354
Hello! :)
No, this is ok. Since the subdir is `nextcloud` the root is indeed `/var/www` :wink:

[2019-04-05 06:28] #1354 closed

[2019-04-07 06:19] BernieO commented on #1353
These directory permissions have been removed for various reasons - mainly because the updater does not work with permissions set as strong as previously recommended.

Find the according pull request here: #431

[2019-04-07 12:50] j-ed commented on #1353
@BernieO Thank you for pointing me to that issue. Independently if we're speaking about hardening or not, this information should be added to the documentation in some way. It should be possible to differentiate between "**standard**" and "**hardened** settings by mentioning the pros and cons, so that every administrator can decide which way he wants to go.
I think, not mentioning this information

[2019-04-07 21:31] msplival opened #1358 "Documentation wrongly states libapache2-mod-php7.2 provides certain PHP modules"
The documentation (https://github.com/nextcloud/documentation/blob/master/admin_manual/installation/source_installation.rst) states that the libapache2-mod-php7.2 provides certain php modules, like bcmath, bz2, dba,  ereg, ....

This is not true for Ubuntu Bionic install. Now, is this list required php modules wrong, or those should be also installed?

[2019-04-08 07:02] nursoda opened #1359 "https://github.com/nextcloud/documentation/wiki is not available"
There are several links to https://github.com/nextcloud/documentation/wiki (e.g. concerning alternate web servers, and from https://github.com/nextcloud/documentation itself!) but if I load that URI, I get redirected to https://github.com/nextcloud/documentation - was the wiki disabled?

[2019-04-08 07:29] skjnldsv commented on #1359
@nursoda indeed, wiki is disabled
Can you link or edit out the wrong links to the wiki? :)

[2019-04-08 07:50] nursoda commented on #1359
I would not know what to do with things like this: "The documentation Wiki is available for tips, tricks, edge cases, and anyone who wants to contribute more easily, without having to learn Git and Sphinx." - Were those documents moved somewhere? Just deleted? This sentence is from the main page https://github.com/nextcloud/documentation itself! Another I found here: https://docs.nextcloud.com/ser

[2019-04-09 08:31] MorrisJobke commented on #1359
cc @rullzer @jospoortvliet

[2019-04-09 08:33] MorrisJobke commented on #1358
Good question - we need the list at the top of the page. So maybe we just remove the section from the install steps and check what modules need to be installed in 18.04 additionally now that it is not installed as a dependency anymore.

[2019-04-09 08:36] MorrisJobke commented on #1359
@nickvergessen just enabled the wiki again. Unfortunately there isn't much in there. Also adding yet another place where information can be found doesn't make it more accessible. Maybe we should just change that part in the docs and add there a section with a collection of edge cases that are there with a big disclaimer. So that we don't have forums, wiki and docs.

[2019-04-09 08:36] skjnldsv commented on #1359
I think it should remain closed in favour of the docs :)

[2019-04-09 11:37] #1359 closed

[2019-04-09 15:49] nursoda commented on #1359
OK, but I still don't know whether I should only remove all links to the wiki I encounter. What shall be done with the content referenced to (that might have been in the wiki), like "How to install on alternate web servers"?

[2019-04-09 16:28] MorrisJobke commented on #1359
At least there was only a page about Nextcloud 10 in there with 2 bullet points.

I could not find where it was hosted - maybe somebody deleted it in the past 😢

[2019-04-09 19:13] nursoda commented on #1359
Created #1365

[2019-04-16 15:32] juliushaertl commented on #542
Seems fixed https://docs.nextcloud.com/server/16/developer_manual/general/devenv.html

[2019-04-16 15:32] #542 closed

[2019-04-16 15:34] juliushaertl opened #1384 "Extend hooks documentation with details about the EventDispatcher"
We currently only have documentation about how hooks work, but we should  provide proper details on the EventDispatcher.

https://docs.nextcloud.com/server/16/developer_manual/app/hooks.html

[2019-04-16 15:37] juliushaertl commented on #828
Fixed with #895

[2019-04-16 15:37] #828 closed

[2019-04-23 10:19] brad2014 commented on #750
I also reproduce in NC 15.0.4 under Apache 2.4.34 and php-fpm 7.2.17
that redirecting using ProxyPassMatch breaks handling of files containing spaces (e.g. cannot delete, per nextcloud/server#1858 and nextcloud/server#8083).

I think it would be helpful to add to the manual under *php-fpm configuration notes* something like the following

[code]

[2019-04-23 10:58] skjnldsv commented on #783
Bump!

[2019-04-24 10:46] J0WI commented on #310
I just run into this issue because the serverinfo app uses `v2.php` but the documentation does only mention  `v1.php`.

[2019-04-27 08:23] kaefert commented on #513
is there a way to enable 4-byte support without upgrading the database?
I'm on MariaDB 5.5.57 on my Qnap NAS and facing the same problem with no easy way to upgrade the database version.

[2019-04-29 19:20] sirpresident opened #1416 "03 Fix Mention about PR#1328"
Fix mention @fgsl about:

#1328

[2019-04-29 19:33] #1416 closed

[2019-04-29 19:46] sirpresident opened #1417 "04 Fix Mention about PR#1328"
Fix mention @fgsl about:

#1328

[2019-04-29 20:06] #1417 closed

[2019-05-06 13:17] MorrisJobke commented on #1276
The desktop client docs for 2.5 are in https://docs.nextcloud.com/desktop/2.5/ but they still lack the details.

[2019-05-08 19:16] tessus opened #1439 "OPcache recommendation wrong (opcache.enable_cli=1)"
I've been meaning to open an issue for this for a while now, but never got around to it.

The recommendation to set `opcache.enable_cli=1` is actually bad for performance. I am not sure who came up with this, but I reckon that whoever it was did not understand what it meant.

Enabling OPcache for CLI has the following effect: it will optimize the CLI script (which takes of course more time the fir

[2019-05-09 07:10] skjnldsv commented on #1439
@nickvergessen @rullzer @MorrisJobke ?

[2019-05-09 10:23] MorrisJobke commented on #1439
@tessus Thanks for this. Makes total sense. We should change it.

[2019-05-09 10:27] MorrisJobke commented on #1439
Fix is in https://github.com/nextcloud/server/pull/15468

[2019-05-09 11:47] #1439 closed

[2019-05-09 19:24] tessus commented on #1439
@MorrisJobke Thanks. I just saw that you have already fixed it in the server check. I would have opened another issue in the server repo for this. I originally opened this issue for the documentation: https://docs.nextcloud.com/server/15/admin_manual/installation/server_tuning.html#enable-php-opcache

But I am more than happy that it was fixed in the server. Cheers.

[2019-05-10 08:51] jearton opened #1448 "Is there any plans to translate it into other languages?"
I 'm an user from China. I wish to look a Chinese version of the document.

[2019-05-10 09:02] MorrisJobke commented on #1448
cc @jospoortvliet

[2019-05-10 11:28] MichaIng commented on #1439
@tessus
Many thanks for this, I was thinking the same for a while.

Another question, I hope it's okay I ask it here, is the recommended OPcache size value:
- The whole Nextcloud PHP scripts in OPcache take ~30M (if I am not mistaken?).
- Even when installing a large amount of 3rd party apps, this does not change much.
- So the default max size of 64M should be totally sufficient. The only real mi

[2019-05-10 13:16] MorrisJobke commented on #1439
I couldn't find that one when I worked on it.

I actually changed it to 128MB, because I had an instance with some apps enabled that where quite have and reached over the 64 MB.

Does that make sense to you?

[2019-05-10 14:33] MichaIng commented on #1439
@MorrisJobke
Hmm, okay in this case it makes sense. I never reached more than 33M AFAIK (monitored with https://github.com/rlerdorf/opcache-status/blob/master/opcache.php) with quite many apps enabled.

I am not sure how this OPcache size is handled. Usually a cache should be not much larger than the amount that is actually used, since larger cache reduces performance for the individual request us

[2019-05-10 19:41] tessus commented on #1439
This is not how a cache works. In that case eviction occurs (by some alogorithm like LRU, LFU, FIFO, ...) and the new csript will be optimized and added to the cache. Thus the perf hit only amounts to removing data from memory. That's it.

[2019-05-10 20:15] MichaIng commented on #1439
@tessus
Makes sense. However I know from MariaDB/MySQL caches that larger sizes lead to decreased performance as long as everything stays in cache, since a larger size needs to be handled/searched through for each access. But as said, not sure if this is true for OPcache as well and how this compares to the performance decrease when regularly data needs to be removed due to too low size.

Btw. cou

[2019-05-10 20:32] tessus commented on #1439
Hmm, I worked in DB2 development for many years and data is always manipulated or read from bufferpools (except large objects). This means that data has first to be fetched into the bufferpool to be used. This also means the larger the bufferpool, the better it is for performance.
I haven't looked at the source code for MySQL (I wasn't allowed to look at other code due to code contamination), but

[2019-05-11 06:50] jpbegin commented on #396
@MariusBluem what are best practices? installing it in /var/www/ ?

[2019-05-11 13:29] MichaIng commented on #1439
@tessus
I tried to find the sources I read some time ago about this. Actually I believe this was indeed limited to the query_cache_size which locks on every update: https://mariadb.com/kb/en/library/query-cache/#limiting-the-size-of-the-query-cache

But lets see how much OPcache is actually used by Nextcloud:
- Test with PHP-FPM 7.3.5, Zend Engine v3.3.5, Nextcloud 16.0.0
- First login after fresh

[2019-05-11 22:13] tessus commented on #1439
@MichaIng thx for the link.

I really would have to look at the source code, but something seems not quite right here. Anyway, I really do not want to go off-topic, thus you can always drop me an email to talk about database engine internals.

Yes, if you tune the parameters accordingly. However, as you can see, you did not hit the limit of files.
Your stats say 3764 scripts are in the cache. If y

[2019-05-11 23:37] MichaIng commented on #1439
@tessus

Ah sorry, I wanted to ask if theoretically all `36551` found `.php` files (~260M size) **would** be cached, if limits were raised. Or are there some that are never cached, e.g. because they are never called from webserver? At least the ones that are used by `occ` and `cron.php` I guess and for `config.php` (+other settings/info.php files) it would make sense to block them from caching.

H

[2019-05-11 23:57] tessus commented on #1439
@MichaIng you are on the correct path already. files which are not served by php-fpm or the php module will never be in the cache.
(As mentioned before, even if you were to use opcache for scripts, the cache would only live for the lifetime of the process.)

You can always use blacklists for settings files. The suggested value of 1 for `revalidate_freq` renders blacklists pretty much useless. I us

[2019-05-12 18:24] MatthiasNeuhaus commented on #513
Hi all,

I have the same issue with mariaDB 10.3.
mysql_upgrade is done. So strange the field is not present on my server.

Does somebody have an idea?
Thanks a lot in advance.

[2019-05-12 21:38] nickvergessen commented on #513
Check https://docs.nextcloud.com/server/stable/admin_manual/configuration_database/mysql_4byte_support.html#mariadb-support for the newest doc, has a special vlock for maria 10.3+

[2019-05-12 21:39] #513 closed

[2019-05-13 10:16] MorrisJobke commented on #1439
We have this in place to have a somewhat okayish caching (for bigger installations this still caches all the files of one second). On the other side we do sometimes changes to the config from the CLI and as CLI and Webserver use different caches the admin needs to be aware of either a) waiting 60 seconds or b) purging the cache of the webserver after one of these changes. Both options are unfortun

[2019-05-13 10:17] MorrisJobke commented on #1439
Thanks nevertheless for the deep dive into the mechanics of caching and how to improve here. We are happy to make this better when the scenarios we are serving under are fully supported.

[2019-05-13 11:43] MichaIng commented on #1439
Just found that the recommended (by Nextcloud) `opcache.memory_consumption`, `opcache.interned_strings_buffer` and `opcache.max_accelerated_files` are the default values since PHP7.0: https://php.net/manual/en/opcache.configuration.php
Even that they are as above more than double the size of what Nextcloud can actually uses, there is probably not much point in recommending lower than default value

[2019-05-13 19:29] MorrisJobke commented on #1439
Mind to open a ticket in the server repo with this?

[2019-05-13 19:57] MichaIng commented on #1439
Makes sense, done: https://github.com/nextcloud/server/issues/15522

[2019-05-13 22:58] tessus commented on #1439
@MorrisJobke

I agree that recommendations should be made which are best for nextcloud. And when it comes to performance I totally agree that these recommendations should be followed and even a warning given in the admin settings. I'm glad though that you decided not to emit a warning when `revalidate_freq` is not `1`.  This would certainly confuse (and most likely annoy) a lot of admins. IMO this

[2019-05-14 10:05] MorrisJobke commented on #1439
Yep - was also my idea back then. If the admin knows what it does then we are fine with a different value.

[2019-05-15 06:07] MatthiasNeuhaus commented on #513
@nickvergessen thanks a lot and sorry. I did just not read properly to jump to the non-MariaDB == MySQL section :roll_eyes:.

[2019-05-19 18:34] tflidd commented on #1448
There were several requests for the user documentation and there are some translations in other languages. I even found a tutorial that this could be done with transifex (links should be here or on the forum).

Just from the number of request and the few changes, I would be quite optimistic for the user manual but it surely depends on the community of this language.

The admin manual, there are mo

[2019-05-19 18:37] tflidd commented on #1276
It's just a copy&paste? It says:

[2019-05-20 10:22] MorrisJobke commented on #1276
cc @rullzer @camilasan

[2019-05-20 14:56] jospoortvliet commented on #1448
Some people offered to help but the problem is two-fold. First, it is a lot of work, and outdated or wrong documentation is worse than only English documentation so it will need dedicated help - something we as company can only do if there are customers who need and pay for it.

Second, right now, there is nothing set up to handle this - a good automation using for example Transifex would simplify

[2019-05-20 14:56] #1448 closed

[2019-05-30 02:51] Orteko commented on #750
Confirming that I can reproduce the same issue with a fresh install with the following package versions:

Nextcloud: 16.0.1
PHP: 7.3.5-1+ubuntu18.04.1+deb.sury.org+1
Apache: 2.4.39-1+ubuntu18.04.1+deb.sury.org+1

Switching from a ProxyPassMatch directive to a FilesMatch directive fixes the issue.

[2019-05-30 06:22] skjnldsv commented on #750
@Orteko could you open a pull request with this fix and some documentation? :)

[2019-05-30 08:12] Orteko commented on #750
@skjnldsv Will try and get some time to write it up although probably won't be for a couple of days.

[2019-06-02 21:45] sirpresident opened #1472 "05 Fix Mention about PR#1328"
Fix mention @fgsl about:

#1328

[2019-06-02 22:13] sirpresident opened #1473 "06 Fix Mention about PR#1328"
Fix mention @fgsl about:

#1328

[2019-06-02 22:13] #1472 closed

[2019-06-02 22:20] sirpresident commented on #1473
Fix mention @fgsl about:

#1328

[2019-06-02 23:51] #1473 closed

[2019-06-03 00:23] sirpresident opened #1474 "07 Fix Mention about PR#1328"
Fix mention @fgsl about:

#1328

[2019-06-03 00:26] sirpresident commented on #1474
Fix

[2019-06-03 00:26] #1474 closed

[2019-06-04 09:27] rojz opened #1475 "Background jobs wont run - Nextcloud 15"
Hello,

I have updated our Nextcloud server from 14 up to 15 and after that our Background jobs stopped working. Any clue what it could be?

System: Ubuntu 16.04 LTS
PHP: 7.3.5
mysql: Ver 15.1 Distrib 10.1.40-MariaDB
Apache: 2.4.18

Error:
![Error](https://user-images.githubusercontent.com/30040797/58867910-90ed7c00-86bb-11e9-8722-f756871a91b2.png)

Crontab:
![crontab](https://user-images.githubus

[2019-06-04 09:33] skjnldsv commented on #1475
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

This repository is used for the documentation.
Open a ticket there and post your systemctl logs as well ;)

[2019-06-04 09:33] #1475 closed

[2019-06-08 05:32] MariaTaborda opened #1478 "Enhancements to Installation Steps"
I was trying to read through the user install documentation and found that the windows section could use some help (I found it hard to follow). One initial thought is that it shouldn't be embedded under the Installing with Linux section, the other edits are int he picture below.

The way this is indented and the lack of numbering makes it hard to know when a part of the section ends and another on

[2019-06-08 08:34] skjnldsv commented on #1478
Hello @MariaTaborda
Thanks a lot for your feedback!

Could you maybe help us a bit?
You can find the edit button on top of the pages :)
https://docs.nextcloud.com/server/stable/admin_manual/installation/source_installation.html#vm-label

[2019-06-08 13:28] githubkoma opened #1479 "App Tutorial misses part about database.xml?"
Dear Devs and Docs,

i tried to get into Nextcloud app developement but currently am already stuck near the beginning of the Database Section of the [Tutorial](https://docs.nextcloud.com/server/16/developer_manual/app/tutorial.html#database)

Perhaps i didnt read it correctly, but i didnt find information about the initial database.xml. Only when i took that from [here ](https://github.com/nextclo

[2019-06-08 13:44] skjnldsv commented on #1479
Hello!
We do not use the database.xml file anymore.
Migration path are the way to go :)

[2019-06-08 13:44] #1479 closed

[2019-06-09 04:37] MariaTaborda commented on #1478
Hi @skjnldsv I would love to take a stab at it, although I am still a bit confused, about the steps myself, let me play around with it and I will come here or the forum if I have follow up questions. Thanks!

[2019-06-09 08:02] skjnldsv commented on #1478
Awesome!! Sure, I'll be happy to assist you! :v:

[2019-06-10 15:00] dacoex opened #1481 "Make documentation structure compatible with permalinks"
**Problem:**
* The current structure makes it very difficult to link permanently to the latest / stable version of the docs because the path changes with each new release as the VERSIONNUMBER increases:
`https://docs.nextcloud.com/server/16/user_manual/`
`https://docs.nextcloud.com/server/{VERSIONNUMBER}/user_manual/`

* Currently, it is very hard to find the translated versions, e.g. https://docs

[2019-06-10 15:07] dacoex opened #1483 "Android docs miss the explanation of token / QR code based login"
https://docs.nextcloud.com/android/android_app.html#connecting-to-your-nextcloud-server

[2019-06-10 16:45] hoergen opened #1484 "Memchached configuration example in documentation wrong?"
Hmm I tried to configure Nextcloud on my Debian system with memcached like in the documentation https://docs.nextcloud.com/server/16/admin_manual/configuration_server/caching_configuration.html

[code]

But only with a localhost in it

[code]

But this leads all the time to a server error

When I changed the configuration to

[code]
it works fine

[2019-06-10 16:54] skjnldsv commented on #1484
What kind of error?

[2019-06-10 16:56] hoergen commented on #1484
[code]

[2019-06-10 16:58] skjnldsv commented on #1484
@hoergen I will need a more detail error. Either in the data/nextcloud.log or directly from your php logs :)

[2019-06-10 17:18] hoergen commented on #1484
I try .. not easy to find the correct line ;)

[2019-06-10 22:27] tflidd commented on #1483
The code was implemented here: https://github.com/nextcloud/server/issues/429
It seems to be on the personal security page where you set up app passwords.

[2019-06-10 22:37] dacoex commented on #1483
Yes, but the documentation of the server only has a section about ios.

The for some reason separated Android app documentation does not contain a description about the QR code based process

[2019-06-11 04:57] skjnldsv commented on #1483
If you have the time, you can also add this to our docs @dacoex :)

[2019-06-11 07:12] dacoex opened #1492 "Update English PIM page for Android"
the English page needs to be updated to reflect token-based access & auto-discovery from the Nextcloud app (it automatically enters the server id).

Reference:
https://github.com/nextcloud/documentation/blob/master/user_manual/pim/sync_android.rst

[2019-06-11 07:14] dacoex commented on #768
Yes, it would be great to have these translated manuals linked on the main docs page.
No more search engine...

[2019-06-11 07:16] dacoex opened #1493 "Translate English PIM page for Android to German"
Add to German "Handbuch" / User manual:

Reference:
https://github.com/nextcloud/documentation/blob/master/user_manual/pim/sync_android.rst

[2019-06-11 07:27] dacoex commented on #216
Maybe this could serve as some help:
https://docs.readthedocs.io/en/stable/guides/manage-translations.html

It would be great to bring these translations more into synch.
Just look into these folders:

- https://github.com/nextcloud/documentation/tree/master/user_manual_pt-br/pim

- https://github.com/nextcloud/documentation/tree/master/user_manual_de/pim
- https://github.com/nextcloud/documentati

[2019-06-12 07:11] hoergen commented on #1484
Hmm I tried to reproduce it, but now the configuration example in the documentation works. Maybe because I use mod_cache and there was an other error?

I will keep the documented configuration in my nextcloud and watch it. If it occurs again,  I will reopen this issue. But thank you so far 🌻

[2019-06-12 07:11] #1484 closed

[2019-06-12 16:25] mekineer opened #1494 "SFTP is not ftp over ssh tunnel"
https://docs.nextcloud.com/server/stable/admin_manual/configuration_files/external_storage/sftp.html
Says: "Nextcloud’s SFTP (FTP over an SSH tunnel) "

However,

https://en.wikipedia.org/wiki/SSH_File_Transfer_Protocol
Says: “SFTP is not FTP run over SSH, but rather a new protocol designed from the ground up by the IETF ECSH working group. It is sometimes confused with Simple File Transfer Protoc

[2019-06-12 16:26] skjnldsv commented on #1494
@mekineer thanks for reporting this :)
Could you maybe change it and suggest a new pull request?

[2019-06-12 16:28] mekineer commented on #1494
When I tried to edit, github said I needed to fork.  Besides, I'm no expert on the topic.

[2019-06-12 16:29] skjnldsv commented on #1494
Yes, you need to fork and it will then create a pr based on the changes made on your fork :)

[2019-06-12 18:33] mactrent opened #1496 "Add calendar sharing options"
Current docs show how to create, edit and subscribe.  We could use an overview of sharing options.
Some notes:
* A single event can be shared by exporting it as a .ics file and sending that to the recipient
* Entire calendars can be shared with other Nextcloud users read-only or with write/edit access
  * Even though this looks similar to file sharing, this doesn't federate
* The 'Share link' opti

[2019-06-12 20:44] skjnldsv commented on #1496
@georgehrke

[2019-06-13 17:53] georgehrke commented on #1496
Well, it can also be shared by adding the sharee as an attendee.

Correct, there is a issue open about that in the server, but it was not implemented yet.

---

@mactrent Would you mind helping out here?
Contributing to our documentation is as easy as sending a pull-request.
This is the file in question: https://github.com/nextcloud/documentation/blob/master/user_manual/pim/calendar.rst

[2019-06-14 10:31] #1494 closed

[2019-06-14 18:00] mekineer commented on #1494
I was unable to fork, probably because I don't know how or my browser is too old.  There is no fork button, and the "Propose File Change" button does not become active even after filling the form.  This is the change I wanted to make, replacing the first paragraph:

Nextcloud's SFTP backend supports both password and public key authentication.
SFTP is not FTP run over SSH, but rather a new protoco

[2019-06-16 09:44] githubkoma opened #1500 "App Tutorial Doc misses Migration .php filename extension"
Following the tutorial at https://docs.nextcloud.com/server/15/developer_manual/app/tutorial.html..

..this does NOT work. No Migration is being started:

.. while this DOES work and the table "notes_meta" is created:

took me some time to figure that out :-(

[2019-06-16 10:41] githubkoma opened #1501 "App Tutorial Doc references different table in NoteMapper.php"
Following the tutorial on https://docs.nextcloud.com/server/15/developer_manual/app/tutorial.html#database it states for NoteMapper.php:

results for me in "notes could not be loaded"

looks like that table never has been defined within the tutorial documentation?
the only table that has been instantiated within the migration-steps was "notes_meta"..

Getting a bit desperate while trying to follow

[2019-06-17 07:39] skjnldsv commented on #1500
@githubkoma Hi!
COuld you maybe edit the documentation? :)
That would help us improve! :muscle: :hugs:

[2019-06-21 07:44] #926 closed

[2019-06-27 09:29] benediktfuss opened #1513 "Upgrade via built-in updater, 3rd party apps"
Include warning that 3rd party apps have to be disabled before running the web-updater. Add reference to [this section of manual](https://docs.nextcloud.com/server/16/admin_manual/maintenance/upgrade.html#prerequisites).

[2019-06-27 23:45] J0WI commented on #1439
There is also a recommendation for `apc.enable_cli = 1` at https://github.com/nextcloud/documentation/blob/dcd10b19cc705c6343e25b96d1adbbc49ac46a33/admin_manual/configuration_server/caching_configuration.rst#apcu

Should this be removed too?

https://www.php.net/manual/en/apc.configuration.php#ini.apc.enable-cli

[2019-06-28 09:43] skjnldsv commented on #1513
@rullzer @MorrisJobke is this relevant?

[2019-06-28 19:05] tessus commented on #1439
This is a big YES - definitely !!!!

The following is stated [in the docs](https://www.php.net/manual/en/apcu.configuration.php#ini.apcu.enable-cli) for this parameter:

Mostly for testing and debugging. Setting this enables APC for the CLI version of PHP. Under normal circumstances, it is not ideal to create, populate and destroy the APC cache on every CLI request, but for various test scenarios

[2019-06-28 20:39] MichaIng commented on #1439
Interesting, AFAIK it is explicitly tested if it is enabled for CLI. If disabled for CLI (but enabled otherwise) the Nextcloud admin panel shows an error.
But yeah, thinking about it indeed it does not make sense on first thought.

[2019-07-02 05:00] #1500 closed

[2019-07-02 17:18] MorrisJobke commented on #1481
latest and stable is already there. Latest links to the current master and stable to the current stable release of the docs.

https://docs.nextcloud.com/server/latest/admin_manual/
https://docs.nextcloud.com/server/stable/admin_manual/

[2019-07-02 17:18] #1481 closed

[2019-07-02 17:19] MorrisJobke commented on #1492
cc @rullzer @ChristophWurst

[2019-07-02 17:20] MorrisJobke commented on #1501
cc @skjnldsv

[2019-07-02 17:20] MorrisJobke commented on #1513
Not really. They will be disabled automatically if they are not compatible.

[2019-07-02 17:21] MorrisJobke commented on #1513
So the sentence needs to be removed.

[2019-07-02 22:22] dacoex commented on #1481
@MorrisJobke

If I go on https://docs.nextcloud.com/
the 2 links you mentioned are not there.

This is why I created the issue.

[2019-07-02 22:46] skjnldsv commented on #1501
@githubkoma could you post the full error stack trace please? :)

[2019-07-03 11:35] MorrisJobke commented on #1481
They are there once you entered any manual and use the bottom left version selector. We want to keep the landing page clean and straight forward. Those two links are more advanced ones.

[2019-07-04 06:16] skjnldsv opened #1550 "Improve contacts documentation"
Contacts docs is outdated.
We should improve that :)

https://docs.nextcloud.com/server/stable/user_manual/pim/contacts.html

[2019-07-04 23:22] Zuikkis opened #1551 "Add scaling to direct image url?"
Hi!

I'm a new user of Nextcloud. I have been previously using Google Photos, where it is relatively easy to get a direct public link to a photo, in any size. I often used hotlinked images in forum posts, where it's convenient to use smaller size like 640 or 800 width.

In Nextcloud you can share the picture, and then append "/preview" to the url to get direct link to jpg file. This works, but giv

[2019-07-04 23:44] #1551 closed

[2019-07-04 23:44] Zuikkis commented on #1551
Wrong area, sorry. :)

[2019-07-07 07:27] lenhart opened #1552 "Doc: Cron verifying copy paste error"
After getting a notification that cron does not seem to work with the nextcloud config, I revisited the cron section here:
https://docs.nextcloud.com/server/16/admin_manual/configuration_server/background_jobs_configuration.html#cron

The part to verify the cron setup seems to be copied from the above configuration.
`# crontab -u www-data -e`
`*/5  *  *  *  * php -f /var/www/nextcloud/cron.php`

S

[2019-07-07 17:40] skjnldsv commented on #1552
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

Nonetheless, as this is a simple answer, let me guide you there.
For any other questions, open it on the forums please :)

`crontab -u www-data -e` means you need to run it to access the cron table editor.
Run this, then add the `*/5 * * * * php -f /var/www/nextcloud/cron.php

[2019-07-07 20:08] lenhart commented on #1552
Hi skjnldsv,
thank you for the clarifications. However this ticket was not really meant to get support, but to improve the docs.
I am however not sure what the right content is, otherwise I would have suggested something or opened a pull request. Sorry if I did not make this clear. My points are:

- The crontab content is displayed twice, instead of the supposedly comment to verify the setup.

- W

[2019-07-07 20:45] skjnldsv commented on #1552
What do you mean by that?  :)

Ah yes, well it's a [common habit](https://wiki.archlinux.org/index.php/Xorg#Manual_configuration) that edited files have the first line containing either the command to edit it or the path of the file.
![Capture d’écran_2019-07-07_22-44-23](https://user-images.githubusercontent.com/14975046/60773649-d19c4300-a108-11e9-8366-7bf561c068d5.png)

But I completely agree w

[2019-07-08 16:41] lenhart commented on #1552
Hi, thanks again for the reply. I was familiar with the path comment, but have not seen the edit command included. Yet something new :-)

And I have to admit that I now found that the section is not a duplicate at all but the last parameter to crontab is changed from -e to -l...  for reference this is the section from the docs:

[code]

Ok, now I can reverse engineer what it does, but this might c

[2019-07-09 06:49] skjnldsv commented on #1552
Any kind of readability improvement on our docs is good :)
Could you open a pull request for this fix?

[2019-07-11 10:09] wiswedel opened #1557 "Documentation on Projects missing"
The documentation lacks any documentation on Projects which had been introduced with Nextcloud 16.

How is the feature to be used?
What are the limitations?
Are there any APIs available?

[2019-07-11 10:14] skjnldsv commented on #1557
Pinging Dr @juliushaertl ! :man_health_worker:

[2019-07-11 18:00] wdfee commented on #768
...and linked to the translated manual at the Help menu item in the user menu (top right of the Nextcloud Web interface) in user's language if available.

[2019-07-17 23:55] Xuno commented on #1557
[https://docs.nextcloud.com/server/16/developer_manual/app/requests/container.html](url)
**Dependency Injection and the art of Services and Containers Tutorial** - video link missed

[2019-07-18 06:44] wiswedel commented on #1557
@Xuno Did you post in the wrong issue?

[2019-07-20 15:44] pgnd commented on #899
I've NC 17 on nginx 1.17.1

I'm behind a proxy atm; this is just a simple site.

I've changed my nginx config
[code]

still, currrently,

[2019-07-22 14:16] hex-m opened #1565 "preferred MySQL/mariaDB collation"
The [documentation](https://docs.nextcloud.com/server/16/admin_manual/configuration_database/mysql_4byte_support.html) suggests to use "utf8mb4_general_ci" in your Nextcloud DB.

I'm not super knowledgeable about this but [my research](https://stackoverflow.com/q/766809/1066210) told me that utf8mb4_unicode_ci would be the more "correct" choice.

Are there specific reasons why Nextcloud suggests "

[2019-07-22 15:14] MorrisJobke commented on #1565
cc @nickvergessen

[2019-07-23 07:12] nickvergessen commented on #1565
That's also used in our source code, so we should adjust it there first, the question is, if that even works, or if it causes a problem when the collation is tried to be migrated.

[2019-07-30 20:39] rendragnet opened #1572 "Docs - Enabling 4-byte Support - Mentioning how to disable maintenance mode would be useful ;)"
Hey guys,

Re https://docs.nextcloud.com/server/15/admin_manual/configuration_database/mysql_4byte_support.html

A couple of edits might be useful :)

1)  Before step 4, Let the user know they NEED to be in their nextcloud installation directory to run the sudo commands.

2) At the end, mention that nextcloud may have gone into maintenance mode (Not sure if this was from mysql going away during th

[2019-08-04 09:13] krichter722 opened #1577 "Warn about non-up-to-date version on docs.nextcloud.com page"
It'd be nice if a visitor of documentation pages at https://docs.nextcloud.com/desktop, e.g. https://docs.nextcloud.com/desktop/2.3/conflicts.html would receive a warning that a more up-to-date version (https://docs.nextcloud.com/desktop/2.5/conflicts.html is available). Even if the up-to-date version might not have changed, it's still more a good idea to switch to the latest version for bookmarki

[2019-08-13 13:22] BobKircher commented on #1550
A not in the iOS section should be added:
"Starting with iOS 12, only SSL connections are valid. Disabeling the SSL toggle will not work"

[2019-08-13 13:24] skjnldsv commented on #1550
@BobKircher can you add this? :)

[2019-08-13 13:35] BobKircher commented on #1550
I will try my best.
I just did a fork.
When I'm done, I will show it to you. OK ?

[2019-08-13 13:37] skjnldsv commented on #1550
@BobKircher you can create a pull request and mention me :)

[2019-08-17 16:41] kesselb commented on #571
Is this still relevant?

[2019-08-17 16:53] MichaIng commented on #571
@kesselb
I will close this issue. I don't find the time currently to do larger documentation commits/PRs, but I have it in mind, if this changes.

[2019-08-17 16:53] #571 closed

[2019-08-18 12:31] JSoko opened #1583 "Delete Android user Manual"
The Android user manual has not been maintained for 3 years.
It should be deleted here:
https://docs.nextcloud.com/android/

No documentation may be better than an absolutely outdated one.

See also:
https://help.nextcloud.com/t/where-is-the-adroid-client-manual/58378
nextcloud/android#1522
nextcloud/android#4012

[2019-08-20 08:27] flyinghuman opened #1585 "WebDAV: wrong URL in Documentation?!"
### Expected behaviour
In the Documentation it states that the WebDAV URL is
[code]
WebDAV connection should work without any limitations.

### Actual behaviour
A 404 not found error is occuring

### FIX

use the correct URL (which at least worked for us):
[code]

### Server configuration
**Operating system**: Ubuntu Linux 16.04
**Web server:** Apache
**Database:** MariaDB
**PHP version:** 7.0
**N

[2019-08-20 10:30] Steve8291 opened #1584 "nextcloudcron.service file fails produces error on reboot."
After installing `nextcloudcron.service` and `nextcloudcron.timer` and enabling them in systemd they create an error on reboot. It appears that `nextcloudcron.service` is starting up before `mysql.service`
I've added the line `After=mysql.service` to the service file. Would it be prudent to make this change in the documentation?
Referencing this file: [https://github.com/nextcloud/documentation/bl

[2019-08-20 15:48] gary-kim commented on #1585
I just tried both links you provided against Nextcloud 16.0.4 and they both seem to work? Could there something specific with your setup that could be making the first link not work?

[2019-08-20 18:00] flyinghuman commented on #1585
maybe. just noticed it and would let you know if other people have the same problems. We have a Standard manual installation, maybe we forgot something at apache configuration.

[2019-08-21 13:18] koppd opened #1587 "Documentation: backgroud jobs 15 min vs. 5 min"
The background jobs configuration page [1] of my installation offers three options [german]:
"AJAX
Eine Aufgabe bei jedem Laden einer Seite ausführen

Webcron
cron.php ist als Webcron-Dienst registriert, der die cron.php alle 15 Minuten per HTTP aufruft.

Cron
Nutzen Sie den System-Cron-Service um cron.php alle 15 Minuten aufzurufen. Die cron.php muss durch den Systemnutzer "wwwrun" ausgeführt wer

[2019-08-21 14:01] koppd commented on #1587
https://github.com/nextcloud/documentation/pull/1588
However, I'm not familiar with the process.
Please let me know, if I can do anything else.

[2019-08-21 23:16] trenshaw commented on #399
Is this the answer / solution to multi-tenancy in Nextcloud? ownCloud announced multi-tenancy in 2016. See: https://owncloud.com/blog-multi-tenancy-owncloud/

Has anyone looked at ownCloud's approach to multi-tenancy?

[2019-08-22 07:27] rullzer commented on #399
The question to ask here is what problem are you trying to solve.

Because doing multitennancy like this means that you have to upgrade all the instances like this in lock step.
You are sacrificing a lot of flexibility for the sake of a few MB. And the MBs taken up by nextcloud are probably insignificant to the amount of data stored.

[2019-08-22 09:05] trenshaw commented on #399
It's all about saving time not space.

When bringing on a new client, the client would create a CNAME in their domain e.g. cloud.example.org to point to nc.provider.com

As a provider we would pass any cloud.* server requests from our reverse proxy to our pool of backend web servers.

The backend web servers all reference the same NFS symlinked vhost conf for cloud.example.org which sets the NEXTC

[2019-08-22 10:31] rullzer commented on #399
@trenshaw well in theory.

But now consider the following

* 1000 clients
* You start the upgrade
* 1000 clients have to be put into maintenance mode
* You start the loop upgrading the servers
* Installation 580 has a bug and the upgrade fails (for whatever reason, a bug can always happen)

What do you do?

Or even if it all runs trough. The final insllation is in maintenance mode until the first

[2019-08-23 09:46] #1557 closed

[2019-08-23 15:43] kotp opened #1596 "Should a .gitignore file exist and ignore server folder?"
Since the `server` folder is generated, should it be ignored in the (nonexistent) `.gitignore` file?

[2019-08-24 12:01] skjnldsv commented on #1596
Yes indeed!
@kotp could you handle that?

[2019-08-24 12:05] skjnldsv commented on #1585
/webdav is the old endpoint. :)

[2019-08-24 12:05] #1585 closed

[2019-08-24 12:05] BobKircher commented on #1550
done.
#1594
this time with correct singn-off
@skjnldsv can you please help me, setting the correct tags and trigger a reviewer.

[2019-08-24 12:06] skjnldsv commented on #1584
@Steve8291 thanks for the suggestion :)
If you think it make sense, please provide a patch for the documentation! :rocket:

I think it does make sense to wait for the dependencies services to be ready

[2019-08-24 14:06] kotp commented on #1596
Should I do so against master or stable16?

[2019-08-24 14:50] #1596 closed

[2019-08-25 18:23] flyinghuman commented on #1585
okay so we transfered this from ownsky to nextcloud. where to look to get it right? apache config?

[2019-08-26 08:11] nickvergessen commented on #1587
5mins is actually correct.

[2019-08-26 08:11] #1587 closed

[2019-08-31 00:27] J0WI opened #1608 "Document the `app:update` command"
https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/occ_command.html#apps-commands

The `app:update` command is missing in the list.

[2019-09-01 21:35] tflidd commented on #1587
@nickvergessen Is keeping 15 minutes a problem? Some even take longer times during the night to avoid their disks from spinning up. How critical is this setting?

[2019-09-02 05:51] nickvergessen commented on #1587
Well it depends on the size of your instance and the live-ness you want to feel. You should check the oc_jobs table regularly and see if it starts growing (then its run too few)

[2019-09-02 07:19] nickvergessen commented on #1587
So, if it's about your 1 user home instance sure, 15mins and save some energy.
If you manage a company where people rely on activity emails to be delivered in time update it to 5 mins

[2019-09-02 22:06] gladed commented on #1501
Something like this:

[code]

At https://docs.nextcloud.com/server/15/developer_manual/app/tutorial.html#database the tutorial tells you to create a migration step for creating `notes_meta` but it doesn't match the Entity (different fields) and Mapper (different table, `ownnotes_notes`) created later in the exact same section.

This seems to be the case in `latest` as well.

[2019-09-03 04:29] skjnldsv commented on #1501
@juliushaertl

[2019-09-03 06:36] juliushaertl commented on #1501
Yes, fix is in https://github.com/nextcloud/documentation/pull/1582 for the documentation and https://github.com/nextcloud/app-tutorial/pull/5 for the tutorial

[2019-09-11 05:36] mdmvgithub commented on #1439
So, this article is wrong?
https://pierre-schmitz.com/using-opcache-to-speed-up-your-cli-scripts/

[2019-09-11 15:57] laurent22 opened #1613 "OCS page index is broken"
I don't know enough about rst to fix it, but the index page is broken:

https://github.com/nextcloud/documentation/blob/master/developer_manual/client_apis/OCS/index.rst

It also means that on the official website there's no longer a documentation for OCS.

[2019-09-11 16:47] tessus commented on #1439
No, this article is correct. The article talks about `opcache.file_cache`, which is used to write the compiled data into a file, so should still be available after the script has ended. That parameter was never mentioned in the Nextcloud documentation though and by default it is not active.

One would have to run some perf tests to see if that would really help with speeding up the `occ` command.

[2019-09-11 17:52] MichaIng commented on #1439
Sounds promising, although one has to be aware that this means doubled RAM usage (if cache is created in tmpfs) and most likely doubled initial cache creation effort, since both, SHM and file cache needs to be created.

It probably makes more sense when used with `opcache.file_cache_only`: https://www.php.net/manual/de/opcache.configuration.php#ini.opcache.file-cache
So no SHM cache is build up, b

[2019-09-16 13:25] Siopyy commented on #1613
+1 ! The developer documentation is broken.

[2019-09-16 13:47] skjnldsv commented on #1613
@juliushaertl @julius

[2019-09-17 23:22] #1613 closed

[2019-09-17 23:22] skjnldsv commented on #1613
Fixed

[2019-09-17 23:22] #1501 closed

[2019-09-18 17:57] #67 closed

[2019-09-18 18:00] wiswedel commented on #70
moved to portal, resolved there already

[2019-09-18 18:00] #70 closed

[2019-09-19 07:52] TimoKramer opened #1622 "Nextcloud 15/16 Developer Manual - File not found Error"
There is no Developer Manual available on your Documentation Website. It returns a File not found error.

[2019-09-19 09:29] skjnldsv commented on #1622
@rullzer :)

[2019-09-22 22:07] kesselb commented on #1622
Would you mind to share the direct url to the page with the broken links? It's easier to fix it then. The links at https://docs.nextcloud.com and https://nextcloud.com/developer/ are working fine over here.

[2019-09-23 05:14] korelstar commented on #1622
I can confirm that on the day this issue was created, the developer manual was not accessible due to 404 error. However, this seems to be fixed now.

[2019-09-23 06:08] skjnldsv commented on #1622
Yes, we fixed it the day of this message, sorry for not updating, :)

[2019-09-23 06:08] #1622 closed

[2019-09-23 21:14] kesselb commented on #1584
Is "resp." supposed to read .service

Unit is  the official naming: https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[2019-09-24 01:44] Steve8291 commented on #1584
Ah. "resp." is the abbreviation for "respective". I get it now. Sorry. I guess I had never seen it abbreviated before.

[2019-10-01 05:35] djamolsky commented on #899
@pgnd, I have a similar setup (not proxy but using NAT dest).
Hardcoding the external port makes the job:
[code]

[2019-10-01 13:32] schiessle opened #1642 "Missing API documentation"
We have here quite some API documentation but it seems like some important parts like activities or comments are missing: https://docs.nextcloud.com/server/17/developer_manual/client_apis/index.html

[2019-10-01 13:33] schiessle commented on #1642
cc @tobiasKaminsky as discussed

[2019-10-01 13:38] tobiasKaminsky commented on #1642
Comments: https://github.com/nextcloud/server/issues/7315#issuecomment-347468998
Activity: https://github.com/nextcloud/activity/blob/master/docs/endpoint-v2.md

This should be both in docs.nc.c

[2019-10-03 09:49] derschiw opened #1647 "WebDAV link deprecated"
The current documentation under https://docs.nextcloud.com/server/17/user_manual/files/access_webdav.html lists `example.com/nextcloud/remote.php/dav/files/USERNAME/` as URL to connect to devices for WebDAV. I tried this and it didnt work.
However nextcloud itself suggests to use `https://example.com/remote.php/webdav/` as login link on the front page (which actually works, I was using Cyerduck to

[2019-10-03 10:08] skjnldsv commented on #1647
is for old versions, the current one is example.com/remote.php/dav/files/USERNAME

[2019-10-03 10:08] #1647 closed

[2019-10-03 21:55] J0WI opened #1649 "Refresh Linux distro requirements"
- Debian 10 (Buster)
- RHEL 8
- SLES 15
- CentOS 8

https://docs.nextcloud.com/server/stable/admin_manual/installation/system_requirements.html#server

[2019-10-07 08:32] muhlemmer opened #1654 "docs.nextcloud.com is painfully slow"
I don't now if this is the place to raise this issue, but at the moment docs.nextcloud.com loads painfully slow and even times out from time to time. Yesterday and the whole last week it worked fine from the same laptop and internet connection. Other pages on the web are working fine too.

I tried the following to check if it is not me:

1. The issue remains when I disable IPv6, in order to force

[2019-10-07 10:08] skjnldsv commented on #1654
It's back

[2019-10-07 10:08] #1654 closed

[2019-10-09 06:24] JSoko opened #1658 "docs.nextcloud.com is again painfully slow"
Somtimes load very slow, sometimes doesn't load with "ERR_CONNECTION_TIMED_OUT", giving a very bad userexpirience...

![grafik](https://user-images.githubusercontent.com/5583290/66456462-01434a00-ea6e-11e9-9e9d-c3431d3aad89.png)
![grafik](https://user-images.githubusercontent.com/5583290/66456541-3780c980-ea6e-11e9-975e-6fde8501a4f7.png)

[2019-10-09 06:27] skjnldsv commented on #1658
cc @rullzer @blizzz

[2019-10-09 14:44] tflidd commented on #1649
closed with merge of https://github.com/nextcloud/documentation/pull/1652

[2019-10-09 14:44] #1649 closed

[2019-10-09 14:48] tflidd commented on #1658
for me it's nearly 30s, it seems some resources can't be loaded via https and the browser uses a non-encrypted fall-back:
![grafik](https://user-images.githubusercontent.com/8111200/66492348-8d786000-eab4-11e9-8ded-40dc98a2bdb9.png)

[2019-10-11 14:52] cbondurant commented on #982
I don't know if this needs to be made under a new issue, but The redis integration docs seems to have at least one typo in the form of stating to use `'\OC\Memcache\APCu'` for `memcache.local` as when attempting to use that setting the server only would return silents 500 errors. Switching `memcache.local` to `\OC\Memcache\Redis` resolved the issue and considered in the overview the memcache warni

[2019-10-11 14:55] skjnldsv commented on #982
My config is:
[code]

works fine :)

[2019-10-11 15:02] cbondurant commented on #982
Looking into the logs, it seems to be related to this error?

[code]
 Traceback not included for readability

Would this imply a configuration error of my system?

[2019-10-11 22:18] #982 closed

[2019-10-12 06:13] skjnldsv commented on #982
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com :)

Quick check though, verify you have all the proper php modules and that they are enabled

[2019-10-13 10:52] kesselb commented on #787
Is this still relevant?

[2019-10-13 22:16] richardnixonafj commented on #622
I believe the tag is important for the accessibility of screen readers (visually impaired).

someone working on it? I would like to help!

[2019-10-15 09:50] E-Fail opened #1660 "Update RHEL 8 Install Documentation"
Now RHEL 8 is Nextcloud recomended (https://docs.nextcloud.com/server/17/admin_manual/installation/system_requirements.html) but the docs only show an example for Centos 7 (https://docs.nextcloud.com/server/17/admin_manual/installation/source_installation.html).

The Package names have changed, imagick is not in the RHEL Repos etc. An Update would be nice

[2019-10-21 11:10] wiswedel commented on #1180
seems to work now

[2019-10-21 11:10] #1180 closed

[2019-10-24 11:24] coliff commented on #1658
I'm in Japan and getting slow access and occasional time-outs to this site too.

[2019-10-25 12:28] Rotzbua opened #1683 "Oauth2 missing permission/security warning"
## Problem

The oauth2 documentation does not state which permissions are granted to an external service.
It just mention "connecting" and do not warn about possible security and data leaks.

## Solution

* Add a list of permissions.
* Add a security warning.

## Current documentation

https://docs.nextcloud.com/server/17/admin_manual/configuration_server/oauth2.html

[2019-10-25 12:58] skjnldsv commented on #1683
cc @rullzer @ChristophWurst

[2019-10-25 20:21] TP75 opened #1684 "release schedule"
Please update your schedules and dates ...

[NC 16 Docs » Maintenance and release schedule](https://docs.nextcloud.com/server/16/admin_manual/release_schedule.html#maintenance-and-release-schedule)

Change from:

  | release date | end of life | latest version | next version
-- | -- | -- | -- | --
16 | 2019-04-25 | 2020-04 | 16.0.3 (2019-07-09) | 16.0.4 (2019-08-15)
15 | 2018-12-10 | 2019-12 | 15.

[2019-10-29 14:14] Gabrielhn commented on #1191
Is there a place where we can access the thumbnail/preview documentations for using via APIs

[2019-10-29 14:39] tobiasKaminsky commented on #1191
Not yet. If so, it will be linked to this issue.

[2019-10-29 19:25] #1572 closed

[2019-10-30 08:39] tobiasKaminsky commented on #1191
Thumbnail (square image):
https://server/index.php/apps/files/api/v1/thumbnail/pxW/pxH/sub/folder/test.jpg

Preview (any size you like):
https://server/index.php/core/preview.png?file=/sub/folder/test.jpg&x=pxW&y=pxH&a=1&mode=cover&forceIcon=0

The file path must be encoded (to escape special chars)

[2019-10-31 03:38] Gabrielhn commented on #1191
Thank you @tobiasKaminsky it worked.

[2019-11-01 15:09] thomas-mc-work opened #1686 "Provide list if compatible clients"
Hello community,

based on [a thread on reddit](https://www.reddit.com/r/NextCloud/comments/cluzks/curated_list_of_linux_desktop_apps/) I'd like to submit this revised list of OpenSource clients that integrate in any way with the Nextcloud server. I think this would be a useful addition to the docs, especially for beginners novice users.

- What do you think generally?
- In which chapter could thi

[2019-11-01 15:22] skjnldsv commented on #1686
cc @blizzz @rullzer @georgehrke @ChristophWurst @juliushaertl @nickvergessen
Anyone else?

[2019-11-01 15:31] blizzz commented on #1686
I think it is more of a living document and thus could be in a wiki or on a repo of its own. Likes those "awesome" lists of XYZ (here is a [meta list](https://github.com/sindresorhus/awesome) of awesome lists).

[2019-11-05 19:33] Gabrielhn opened #1688 "loginFlow/Delete appPassword not working"
I'm trying to call the api method to **delete the appPassword** of the client device when my users logoff from the app. Found the a little help in the docs, but still can't call it with a 200 return . Already tried with these:

1)
Method = `DELETE`.
Headers = (Basic with user and appPassword encoded) | 'OCS-APIRequest': 'true'
URL =`https://host.123/ocs/v2.php/core/KjGzyhR7B1OEEy1noUyFvvTG0ywxdTIx

[2019-11-05 22:53] skjnldsv commented on #1688
cc @ChristophWurst

[2019-11-07 13:36] pierreozoux commented on #216
I need to work on this too!

@frju365 did you finish the french translation?

I have a plan that I'll start to execute the coming days:

Alors, c'est un peu complexe cette histoire!

The doc is already on the Nextcloud instances
 /settings/help?mode=user
(this is an iframe --> /core/doc/user/index.html )

We need to:
 - [ ] [configure transifex](https://docs.transifex.com/integrations/sphinx-doc)

[2019-11-07 14:18] jancborchardt commented on #216
cc'ing @rullzer for translations (or he will know the right person) instead of Morris or me. :)

[2019-11-07 18:18] dhebert91 commented on #216
Thank's @pierreozoux to revive this project.
https://github.com/paquerette-orga/documentation is in stand by because the original user manual lack of completion and is not updated ( [What’s new for users in Nextcloud 13](https://docs.nextcloud.com/server/13/user_manual/whats_new.html) has exactly the same content as [What’s new for users in Nextcloud 17](https://docs.nextcloud.com/server/17/user_m

[2019-11-07 22:15] pierreozoux commented on #216
@dhebert91 I will!

people, you can already translate here:
https://www.transifex.com/indiehosters/nextcloud-user-documentation/languages/

I'll PR some code to the CI. I still have a question, where is the .de translation online? Not really clear at the moment.

@rullzer we have momentum again regarding this issue, keep it while it is warm ;)

[2019-11-08 08:30] pierreozoux commented on #216
I configured transifex, if you want to be part of the org, please send me your [email](pierre@ozoux.net), or request it there, but the interface is not that great, so I might not see it.

@nextcloud/documentation I think it should be under Nextcloud organizartion. Whenever you are ready, I can give it to you (no idea how to do in transifex..).

[2019-11-08 13:43] thomas-mc-work commented on #1686
But I think this repo is a living collection of documents that are part of the documentation. A separate repo would be overkill imho.

[2019-11-08 17:56] TP75 commented on #1684
release of 16.0.6 an no docs update?

QM ?

[2019-11-09 09:40] kesselb commented on #1688
What response do you get? and what Nextcloud version do you use?

[2019-11-10 12:08] chatlumo opened #1692 "Links in table of content are broken"
Hello,

Sorry for my newbie question, I know it's not an issue about this project but when I follow the steps to build the docs in PDF, it's working fine.
But if the table of content is well in the doc, all links in the TOC are broken.
By example, for "The Nextcloud Web interface" item, the link is "the-nextcloud-web-interface-4421797072", and it doesn't work.
So, how to repair that ?

Thanks,
Jul

[2019-11-11 20:56] kesselb commented on #1684
I think we should remove the information from the docs and link to https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule. Less duplicate content and only one place to update.

[2019-11-12 09:14] pierreozoux commented on #216
@johkoenig could you move the german translation to transifex?
@richardnixonafj could you move pt-br translation to transifex too?

I'll now work on setting up the automation to autmatically compile the docuemntation including translation from transifex.

[2019-11-12 14:26] pierreozoux commented on #768
I opened the issue on the read the doc theme:

https://github.com/readthedocs/sphinx_rtd_theme/issues/857

If anybody is fluent in this, I'd gladly learn from you, and implement it, but currently, I'm afraid it is impossible with the open source version of the sphinx theme.

[2019-11-14 09:39] ogasser opened #1701 "Remove SAMEORIGIN header from nginx config"
As the SAMEORIGIN header is [handled directly by PHP](../blob/331d8ca7a6c5f37951f37e50c8264fc005ffd7d5/admin_manual/release_notes.rst#updates-to-nginx-configuration) and not the webserver anymore, the following two references to the SAMEORIGIN header in the nginx documentation should be removed:

1. remove [first SAMEORIGIN line](../blob/83022d836c4ddec7ef4e34c0ba69b318bfd03836/admin_manual/instal

[2019-11-14 10:26] skjnldsv commented on #1701
Hey :)
Thanks for the report! Can you open a pull request with those changes please? :)

[2019-11-14 10:33] ogasser opened #1702 "Increase memory_limit in PHP FPM config to upload big files"
In order to get rid of the warning in "Security & setup warnings" in addition to increasing the values for `post_max_size` and `upload_max_filesize` you also need to also increase the `memory_limit` in your php.ini config. E.g.:

[code]

This should be reflected in the [PHP documentation for uploading big files](../blob/master/admin_manual/configuration_files/big_file_upload_configuration.rst#L101

[2019-11-16 10:05] #1701 closed

[2019-11-17 13:22] SealinRepo opened #1704 "not work on windows link dir"
hi.
I am using NextCloud windows client and found that it does not synchronize the folder created with the [mklink] command, I hope to add support. Thank you.

[2019-11-18 14:49] skjnldsv commented on #1704
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

[2019-11-18 14:49] #1704 closed

[2019-11-20 02:49] nariox opened #1706 "Nginx + Fastcgi_cache deprecated?"
I was looking into implementing fastcgi_cache in my server. I've tried to find documentation on the official docs, but the last mention of it is in Nextcloud 11 docs.

Is it not mentioned because it doesn't bring enough improvement? Or is it a security risk? In any case, is it still supported or at least known to work well or should I stay away from it?

[2019-11-20 06:37] skjnldsv commented on #1706
If it's been removed, I guess we recommend not using it.
You can follow the proper nginx settings in the stable docs branch: https://docs.nextcloud.com/server/stable/admin_manual/installation/nginx.html

[2019-11-20 06:37] #1706 closed

[2019-11-20 19:53] Gabrielhn commented on #1688
Hi @kesselb .
**Version**: 17.0.1

calling:
`curl -u cxd:qo3p8PZuiK5cZ1ZeU47yaV1SisTIu9TwUb43Wiy10G5286gvueyz0aISkIUIk6oA4jSZ6CXj -X DELETE -H 'OCS-APIREQUEST: true'  https://cleandrive.cleannet.com.br/ocs/v2.php/core/qo3p8PZuiK5cZ1ZeU47yaV1SisTIu9TwUb43Wiy10G5286gvueyz0aISkIUIk6oA4jSZ6CXj`

response:
`<?xml version="1.0"?>
<ocs>
 <meta>
  <status>failure</status>
  <statuscode>404</statuscode>

[2019-11-20 20:10] kesselb commented on #1688
`curl -u username:app-password -X DELETE -H 'OCS-APIREQUEST: true'  http://localhost/ocs/v2.php/core/apppassword`

does not work for you? :thinking:

[2019-11-20 20:19] Gabrielhn commented on #1688
Now it worked, must send the keyword "apppassword" at the end not the actual appPassword

Thanks!

[2019-11-20 22:07] Gabrielhn commented on #1688
I'm reopening the issue because are facing another related problem.
I'm developing a flutter app connected to a Nextcloud hosted server and at this moment trying to implement the logoff process, which includes the first part of the this issue, to make the deleteAppPassword method working.

I'll explain the steps to what I'm seeing is causing my problem.

1) When the user first log in to the app, r

[2019-11-21 10:14] kesselb commented on #1688
I don't think so. It's a session (from the login flow) and will be removed by nextcloud.

[2019-11-26 08:56] blizzz commented on #1686
Sure, but then who takes care to track all the various 3rd party apps for various Nextcloud apps or features? Which expectations does it create, when they are included in the official documentation?

[2019-12-02 15:40] kesselb commented on #1584
I think this has been fixed by #1603

[2019-12-02 15:40] #1584 closed

[2019-12-03 09:36] #1684 closed

[2019-12-03 09:48] vipera7 opened #1737 "Nextcloud 17 website isn't loading CSS"
# Steps to reproduce
1. Go to the page https://docs.nextcloud.com/server/17/developer_manual/
2. Only raw HTML appear

### Expected behaviour
Should load css

### Actual behaviour
Getting 404 error on ressources

### Client configuration
Chrome 78.0.3904.97 (64 bits)
Firefox 70.0.1 (64 bits)
Edge

[2019-12-03 09:53] skjnldsv commented on #1737
@blizzz

[2019-12-07 15:09] jospoortvliet commented on #67
https://docs.nextcloud.org/server/latest/developer_manual/  works now...

[2019-12-10 06:35] rudytch opened #1745 "Nextcloud 17 Web hosting issue - File not found"
Hello,

i want to host my Nextcloud platform on a web hosting platform but i get the following error :

I have made some research and i think i have to modify the include_path variable but i don't know where.

thanks for your support

[2019-12-10 09:29] skjnldsv commented on #1745
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

[2019-12-10 09:29] #1745 closed

[2019-12-11 13:48] #1737 closed

[2019-12-12 20:03] geeseven opened #1746 "Manage connected browsers and devices outdated"
Greetings,

The [Manage connected browsers and devices](https://docs.nextcloud.com/server/latest/user_manual/en/session_management.html) contain outdated screenshots and is missing information like the 'Allow filesystem access' and 'Wipe device' options.

[2019-12-13 06:30] skjnldsv commented on #1746
cc @ChristophWurst @rullzer @jospoortvliet

[2019-12-24 08:02] juliushaertl commented on #1660
@wiswedel Maybe you know ... is there a recommended way to get imagick and redis on CentOS8/RHEL8?

We could just recommend https://rpms.remirepo.net/enterprise/8/ but it is of course no official package.

[2019-12-26 10:37] deadwax commented on #698
No, 781 doesn't appear to fix it, the current situation is ambiguous with one set of directions not working.

The Webdav link given in the files page of nextcloud is:
http://example.com/nextcloud/remote.php/webdav/
This works.

The current manual at:
https://docs.nextcloud.com/server/16/user_manual/files/access_webdav.html
gives instead:
example.com/nextcloud/remote.php/dav/files/USERNAME/
This do

[2019-12-29 07:43] SMichel72 opened #1754 "BigInt (64bit) identifiers"
`sudo -u www-data php occ db:convert-filecache-bigint`

doesn't lead to `All tables already up to date!` or `This can take up to hours, depending on the number of files in your instance!` but:

[code]

[2020-01-02 10:47] wiswedel commented on #1660
I'd say remirepo is a broadly respected (even if non-official) repo which is safe to use.

[2020-01-02 19:08] SMichel72 commented on #1754
https://help.nextcloud.com/t/sicherheits-einrichtungswarnungen-nach-update-auf-17-0-2/66634/5

[2020-01-02 19:08] #1754 closed

[2020-01-02 21:23] juliushaertl commented on #1660
Done with https://github.com/nextcloud/documentation/pull/1757

[2020-01-02 21:23] #1660 closed

[2020-01-03 09:26] #1358 closed

[2020-01-03 16:22] schaarsc opened #6742 "Improve Federation Trusted Server Documentation"
**Is your feature request related to a problem? Please describe.**
my two NC servers would not sync. addressbooks

**Describe the solution you'd like**
A) please add more details to the documentation on how this works

for example a simple flow diagram (and links to the specs)
- cloudA: (as documented) add URL of cloudB to Settings/Sharing/Trusted servers
- cloudA: tell cloudB to get a shared secr

[2020-01-06 08:41] fralbo opened #1760 "Where does snap install NextCloud ?"
Could you please specify in the [doc ](https://docs.nextcloud.com/server/15/admin_manual/installation/source_installation.html#snaps-label) where does snap install Nextcloud in order to be able to correctly configure apache's virtual host?

[2020-01-06 08:50] skjnldsv commented on #1760
See https://github.com/nextcloud/nextcloud-snap
cc @kyrofa

[2020-01-07 22:59] jospoortvliet opened #1764 "Whoeps, somebody broke https://docs.nextcloud.com/server/17/developer_manual/ ;-)"
The style/css etc seems broken on the developer manual for 17, was the removal of old theme cruft too enthusiastic? That's odd, it shouldn't have made a difference... Sigh.

[2020-01-08 09:47] skjnldsv commented on #1764
All good to me now

[2020-01-08 09:47] #1764 closed

[2020-01-10 09:48] deadwax opened #1771 "NC install and documentation give conflicting webdav information"
As per #698, which was closed but not fixed.

The Webdav link given in the files page of nextcloud is:
http://example.com/nextcloud/remote.php/webdav/
This works - although it gives http when it should give https - connecting to this URL works.

The current manual at:
https://docs.nextcloud.com/server/16/user_manual/files/access_webdav.html
gives instead:
example.com/nextcloud/remote.php/dav/files

[2020-01-10 10:24] skjnldsv commented on #1771
This is the old way. All new clients are using the remote.php/dav/files/xxx and it works fine here (just tested again)
Please make sure your webserver config is up to date to our standards (see docs)

What are you using to list the files of your user?

[2020-01-10 10:37] deadwax commented on #1771
Two different Android sync clients - Folder Sync and Synchronize Ultimate - both only work on the first way.  I've just tried folder sync with another server not admined by me, with exactly the same results.

As far as I'm aware my server config is correct.

[2020-01-10 10:42] skjnldsv commented on #1771
Works here :)

[code]

You probably have a configuration issue somewhere :confused:

[2020-01-10 10:47] deadwax commented on #1771
Ok, given the address specified in the files interface works I'm not terribly inclined to chase it.

We do still have a conflict between the address in documentation and the address an NC install gives users.

[2020-01-10 11:14] skjnldsv commented on #1771
Fix in https://github.com/nextcloud/server/pull/18804

[2020-01-10 18:11] #1771 closed

[2020-01-13 09:59] knttr opened #1774 "NC 17 Discrepancy between documentation and server regarding user names"
### Steps to reproduce
1. Add new user with a space in the username: e.g. Joe Blog

### Expected behaviour
Refering to the administration manual, I would expect this name to be rejected:

[NC 17 Admin Documentation: creating a new user](https://docs.nextcloud.com/server/17/admin_manual/configuration_user/user_configuration.html#creating-a-new-user)

### Actual behaviour
The user is added

**Nextcl

[2020-01-16 09:52] PiotrIr opened #9727 "Active Directory password change revokes APP tokens"

[2020-01-17 16:27] tflidd commented on #1702
Is it required to have a `memory_limit` of the same size?

[2020-01-18 11:56] p-bo commented on #216
@pierreozoux I completed translation into Czech (sent you an e-mail about this too). What next?

[2020-01-18 15:39] p-bo opened #1782 "Missing PHP API documentation"
Hello,

When trying to read developer documentation, URLs:
https://docs.nextcloud.com/server/15/developer_manual
https://docs.nextcloud.com/server/16/developer_manual
https://docs.nextcloud.com/server/stable/developer_manual
https://docs.nextcloud.com/server/latest/developer_manual

are returning only:
File not found.

Last working is for version 14.

Not exactly encouraging to developers…

[2020-01-19 11:53] pierreozoux commented on #216
Yes saw your email :/ sorry for delay, a bit busy currently ;)

What is your need? Do you want it shipped with Nc itself or on the doc website?

[2020-01-19 14:43] J0WI commented on #1782
@nextcloud/infrastructure do you have any kind of monitoring for this?

[2020-01-19 14:43] rullzer commented on #1782
Yeah we do. But weekend etc.
Is backup now.

[2020-01-19 14:55] p-bo commented on #216
@pierreozoux sorry for my impatience ;)

Must admit, that haven't idea how much work is needed for publish it on doc and/or ship with NC itself, but at the end, ideally both.
But for start, it would be great to have it rendered on doc website to see, how translation fit (and as I will tweak it, to be able see result of tweaks and, to iterate quicker, would it be possible to refresh regularly pleas

[2020-01-19 16:28] pierreozoux commented on #216
No worries :) free software dynamics are complexe ;) we (technical people) have to help others to be independent and be able to contribute without us being on the way.

[2020-01-20 14:51] WarfoX72 commented on #1782
API Documentations is totally missing yet.

[2020-01-20 14:55] rullzer commented on #1782
@juliushaertl ^^

[2020-01-20 16:13] nickvergessen opened #1791 "icon-search-white is actually black on dark background"
https://docs.nextcloud.com/server/latest/developer_manual/design/icons.html

[2020-01-21 12:33] #1683 closed

[2020-01-22 11:10] juliushaertl commented on #1782
Yes, they were removed from the main documentation an we planned to host them in a dedicated location, since they were actually were messing up the developer docs sphinx build to much, e.g. when searching for something. https://github.com/nextcloud/documentation/pull/1777

I'll see if I can come up with a proper separate build for those.

[2020-01-22 14:00] vasyugan opened #1793 "Section on Thunderbird should mention TBsync, which brings autodiscovery for caldav/carddav resources"
So far the [section on Thunderbird](https://docs.nextcloud.com/server/18/user_manual/pim/sync_thunderbird.html) doesn't mention TBsync, instead it is explained how to subscribe to calendars individually which is a tedious process.
The [TBsync extension](https://addons.thunderbird.net/de/thunderbird/addon/tbsync/) is a way to make nextcloud calendar integration into Thunderbird easy. Like all moder

[2020-01-22 14:38] skjnldsv commented on #1793
Hey :)
Could you maybe help here? You can edit the pages directly and suggest a change :rocket:
That would be supper great :hugs:

[2020-01-22 18:28] vasyugan commented on #1793
Oh, I didn't notice that I can.
Seems I have no excuse then... I'll write something up...

[2020-01-22 19:03] vasyugan commented on #1793
I have added a pull request https://github.com/nextcloud/documentation/pull/1794

However, I have no idea how I can add my own screenshots. It seems I can only add plain text.

[2020-01-22 19:13] vasyugan commented on #1793
Could you please review this error message:

![grafik](https://user-images.githubusercontent.com/3313208/72925837-a64f0d80-3d53-11ea-9974-a7347a7926b4.png)

[2020-01-23 08:00] skjnldsv commented on #1793
You're awesome!!
I restarted the tests, because I couldn't figure the issue :)

[2020-01-23 09:03] juliushaertl opened #1795 "Fix github actions for forked repos"
Github actions for pull requests from forks fail to push the status as the github token provided there only has read access.

We either need a different token configured as a secret or try to improve the handling upstream:

https://github.com/ammaraskar/sphinx-action/blob/master/sphinx_action/action.py#L124-L127
https://github.com/ammaraskar/sphinx-action/blob/master/sphinx_action/action.py#L160

[2020-01-23 09:33] vasyugan commented on #1793
I got the same error again. Something seems broken.
BTW, I guess one should clean up the section, making TBSync the canonical method and mentioning CardBook for those who need a more advanced address book (I do!), but drop the original description, which describes manually subscribing to individual calendars, because we clearly don't want that in the 21rst century, and this may confuse users.

[2020-01-23 11:35] vasyugan commented on #1793
When I look at the failed checks at https://github.com/nextcloud/documentation/pull/1794/checks?check_run_id=404608506 each one ends with a URL that isn't accessible:

![grafik](https://user-images.githubusercontent.com/3313208/72981255-a7784d00-3ddc-11ea-87ba-49c4208b705e.png)

And this is what I see when I manually visit the URL in the browser:
![grafik](https://user-images.githubusercontent.com

[2020-01-23 12:28] skjnldsv commented on #1793
Yes, this is because we cannot lint on forks apparently :/
Opened issue #1795

[2020-01-23 12:37] vasyugan commented on #1793
So is there something I am supposed to do now or just wait?

[2020-01-23 12:39] #1793 closed

[2020-01-23 19:53] MichaIng opened #1798 "Apache2 HOME and HTTP_HOME env vars"
Code reference: https://github.com/nextcloud/documentation/commit/f9a3f4ebcff672049c9c0585644de23e1321e34e#r36865865
Forum reference: https://help.nextcloud.com/t/apache2-home-and-http-home-env-vars/68557

What are these two variables for?

[2020-01-24 10:19] skjnldsv commented on #1798
No idea :/

@blizz @rullzer @juliushaertl @ChristophWurst ?

[2020-01-24 10:25] juliushaertl commented on #1798
I also cannot see any reason for keeping them.

[2020-01-24 10:48] ChristophWurst commented on #1798
No idea.

:fire: it :)

[2020-01-24 12:25] MichaIng commented on #1798
PR up: #1800

[2020-01-24 14:06] #1798 closed

[2020-01-26 08:49] juliushaertl commented on #1782
I’ve published a quick build of the API doc from 18 with phpDocumentor here https://bitgrid.net/~jus/nextcloud-phpdoc/namespaces/OCP.html 2 as a temporary solution and I’ll look into how we can bring back the proper documentation pages again.

[2020-01-26 08:53] juliushaertl commented on #1702
It should be enough to specify a memory_limit of 512MB as it is recommended in the setup warning: The PHP memory limit is below the recommended value of 512MB.

[2020-01-26 08:53] #1702 closed

[2020-01-28 09:22] Itchiii commented on #513
@kaefert I know your comment is a bit older but did you find any solution? I also run a QNAP with MariaDB 5.5.57

[2020-01-28 11:29] kaefert commented on #513
nope, sorry, I did end up installing debian 10 on my qnap, but not just because of this issue.

[2020-01-28 11:46] pierreozoux commented on #216
Sorry for the delay :/

https://doc-nextcloud-fr.indie.host/com/cs/
https://doc-nextcloud-fr.indie.host/release/cs/
https://doc-nextcloud-fr.indie.host/com/fr/
https://doc-nextcloud-fr.indie.host/release/fr/

I have some automation I'll PR here. In the mean time, feel free to ping me here or by email.

[2020-01-28 20:30] deajan commented on #513
@Itchiii Here's what works with MariaDB 5.5.x

Update DB collation
[code]

Then make Nextcloud understand database's new collation:
[code]

Then let Nextcloud repair the database
[code]

This worked for me under CentOS 7.
Obviously you'll have to change your php path (just use /usr/bin/php if no other version is installed), and your nextcloud installation path.

Cheers.

[2020-01-29 19:57] p-bo commented on #216
Great! Thanks for that.
So started reviewing how translated strings fits in place of original ones. During this I revealed, that source strings are probably a bit outdated - for example in "Synchronizing with iOS" chapter of Groupware section, there is only 8 steps in original text (latest version) and in both translations (fr, cs), there are 10 of them.
But it will be be solved by automation, you

[2020-01-30 18:07] gaoyangsandy opened #1806 "Instruction for accessing files using WebDAV on Windows is out dated"
### Steps to reproduce
1. https://docs.nextcloud.com/server/16/user_manual/files/access_webdav.html#accessing-files-using-microsoft-windows

### Expected behaviour
The instruction for enabling Basic Authentication in the Windows Registry should work

### Actual behaviour
The instruction points to a document KB841215 (https://support.microsoft.com/en-us/help/841215), which no longer exists.

[2020-01-30 21:27] johkoenig commented on #216
Hey guys,
I don't know how my name ended up in this ticket, I didn't work on this matter ever before.
Please take my apologies that my free time to work on open source projects is currently very limited for personal reasons. So, I will not be able to support you on this.
Thanks for your understanding

[2020-01-31 15:51] Itchiii commented on #513
@deajan Thank you very much! Everything went smoothly with the adjustments.

[2020-02-01 11:52] skjnldsv commented on #1806
Hi, Could you provide the changes? :)
I don't use windows, so I have no clue, but you can edit the file your self in the documentation and open a pull request here :rocket:

[2020-02-04 12:07] Tim-Obert opened #1812 "Public Page example isn't working"
I've tried to implement an AuthPublicShareController with the [Public Page documentation](https://docs.nextcloud.com/server/latest/developer_manual/app/publicpage.html).
But if the share is password protected this error shows up in the log:

**Symfony\Component\Routing\Exception\RouteNotFoundException**: Unable to generate a URL for the named route "wcoonetimesecret.authsecretsharecontroller.showA

[2020-02-04 13:16] skjnldsv commented on #1812
Hey!
Where did you find the `wcoonetimesecret.authsecretsharecontroller.showAuthenticate` part on the docs?

[2020-02-04 13:23] Tim-Obert commented on #1812
This is my implemented controller. 'wcoonetimesecret' is my namespace and 'AuthSecretShareController' is the controller which extends the AuthPublicShareController.

[2020-02-04 13:24] skjnldsv commented on #1812
Yes, but you claim that the doc is wrong, where did you see the part with the extra "controller" ?

[2020-02-04 13:35] Tim-Obert commented on #1812
The example of the docs is with the PublicShareController and underneeth there is written:
"On some pages password authentication might be required (just like the when you share a file via public link with a password). In this case you need to extend a different provider.

The AuthPublicShareController requiers in addition to the PublicShareController that you also implement the verifyPassword and

[2020-02-04 13:35] skjnldsv commented on #1812
@Tim-Obert can you share some code?

[2020-02-04 13:43] Tim-Obert commented on #1812
[code]
        [ 'name' => 'authsecretsharecontroller#get', 'url' => '/secret/{token}', 'verb' => 'GET' , 'app' => 'wcoonetimesecret'],
        ['name' => 'authsecretsharecontroller#showShare', 'url' => '/display/{token}', 'verb' => 'GET', 'app' => 'wcoonetimesecret'],
        ['name' => 'authsecretsharecontroller#showAuthenticate', 'url' => '/secret/{token}/authenticate/{redirect}', 'verb' => 'GE

[2020-02-04 13:52] Tim-Obert commented on #1812
It will give the error I mentioned in my first comment, if you don't extend the core/routes.php. Because the Route which is build in AuthPublicShareController with the class name ('controller' at the end). If there is a soulution to define the route in the app and not in the core, it would be helpful if it's documented.

[2020-02-04 13:52] skjnldsv commented on #1812
should indeed be directly into your appinfo folder.
Have you checked the full app tutorial app?  :)
https://github.com/nextcloud/app-tutorial

[2020-02-04 13:58] Tim-Obert commented on #1812
I've tried already but the route which is tried to be accessed by the AuthPublicShareController is in my example:
wcoonetimesecret.authsecretshare***controller***.showAuthenticate
The right route would be:
wcoonetimesecret.authsecretshare.showAuthenticate

with the "controller" at the end i didn't get it working in the appinfo folder.

[2020-02-04 14:13] skjnldsv commented on #1812
Make sure your namespace is correct and all your declarations are ok.
This is working in all apps, so there is most likely an issue with your files :)

Again, giving access to your full repository and code might help us to find your issue.

Unfortunately, as this is a development issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com
You might get better fee

[2020-02-04 14:13] #1812 closed

[2020-02-04 21:19] alexanderdd opened #1814 "note not displayed correctly (webdav windows)"
at https://docs.nextcloud.com/server/18/user_manual/files/access_webdav.html#mapping-drives-with-the-command-line I see this:
![image](https://user-images.githubusercontent.com/28591861/73787483-b0cdc600-479b-11ea-85fd-a9ee23d76f94.png)

I think this is not supposed to look like that.

Here on github https://github.com/nextcloud/documentation/blob/master/user_manual/files/access_webdav.rst in the

[2020-02-04 21:22] alexanderdd opened #1815 "replace Windows 7 screenshots with Windows 10 screenshots"
not sure if there are more, but I stumbled over this one https://github.com/nextcloud/documentation/blob/master/user_manual/files/access_webdav.rst#mapping-drives-with-windows-explorer

Win7 is End of Life. To build trust, we should update all win7 screenshots to win10.

[2020-02-05 07:15] skjnldsv commented on #1815
Hey :)
Could you provide those changes? That would really help :hugs:

[2020-02-06 19:43] #1774 closed

[2020-02-10 10:06] dholbach opened #1822 "Instructions to fix "invalid code integrity" pretty sparse"
Reading [admin_manual/issues/code_signing.rst](https://github.com/nextcloud/documentation/blob/master/admin_manual/issues/code_signing.rst) it's not quite clear

- why this can happen: how worried should I be? are bugs in the updater code (or whichever other parts of nextcloud relate to this) common?
- **how** to fix this exactly: the text merely says

  Here I'm wondering:
  - where do I get the

[2020-02-11 10:28] pierreozoux commented on #216
@p-bo if it is a bit outdated, it has to be fixed in english first.
The automation is just about how the stings are sent to transifex, and how the resources are then put together and built. See #1824 but this is really technical, the plumbing if you will.

I sent the request to move the transifex project to nextcloud.

I think @skjnldsv is the best person to help here. I propose that once the PR i

[2020-02-12 11:45] HALLODEERE opened #1825 "Nextcloud documentation from search engine often outdated"
Not sure if this is the right place for this feedback, please delete/redirect me if it isn't!

**Is your feature request related to a problem? Please describe.**
When accessing Nextcloud documentation from a web search, the first link to the documentation that is often found is for Nextcloud 15 or 16, likely due to how search engines have indexed Nextcloud documentation. This could be potentially

[2020-02-13 21:03] tiiiecherle commented on #1353
@kesselb Thanks for the fast feedback in [nextcloud/server #19462](https://github.com/nextcloud/server/issues/19462#issuecomment-585966109).

Could you (or anyone who knows) please copy and paste my following current permission setting code and alter it to the currently recommended and secure way to do a complete permission set.

Thanks a lot.

[code]

[2020-02-14 00:15] alexanderdd commented on #1815
Sorry, this does not have a high enough priority for me atm. If nobody did it within ~ two months, feel free to ask me again here.

[2020-02-18 09:05] cmasterdelphi commented on #1815
![image](https://user-images.githubusercontent.com/56067322/74720501-36d71b80-5236-11ea-8f03-0567cc3db309.png)

[2020-02-18 09:06] cmasterdelphi commented on #1815
![image](https://user-images.githubusercontent.com/56067322/74720576-4ce4dc00-5236-11ea-9742-4ee0b54b997b.png)

[2020-02-18 09:09] cmasterdelphi commented on #1815
here you go.
![image](https://user-images.githubusercontent.com/56067322/74720844-b1a03680-5236-11ea-9bb4-1e6905cd4f82.png)

[2020-02-20 10:04] artemkonev opened #1831 "Location block logic in the nginx samples"
Hi everyone,

I'm working on a basic howto about NextCloud configuration for NGINX's new app server, NGINX Unit: http://unit.nginx.org/howto/nextcloud/. As you can see, it is loosely based on the respective NextCloud docs article (by the way, it is really helpful): https://docs.nextcloud.com/server/latest/admin_manual/installation/nginx.html

I'm trying to simplify the config, avoiding the need to

[2020-02-20 10:26] vasyugan opened #1832 "Non-English manuals should be translations of English master"
This is maybe a broader issue, which is not easily fixed, but when contributing a little to the documentation on Thunderbird and its integration with Nextcloud calendar and contacts, I saw that the [English](https://github.com/nextcloud/documentation/blob/master/user_manual/pim/sync_thunderbird.rst) and the [German](https://github.com/nextcloud/documentation/blob/master/user_manual_de/pim/sync_thu

[2020-02-21 07:24] korelstar commented on #1782
When there will be a final solution for this? The official developer manual still has no link or information for the PHP API: https://docs.nextcloud.com/server/latest/developer_manual/api.html

[2020-02-23 15:21] BernieO commented on #1353
@kesselb at https://github.com/nextcloud/server/issues/19462#issuecomment-585966109 you commented:

What about the updater? I guess the updater also needs to be able to alter the nextcloud directory. The reason why the stronger directory permissions have been removed, was that the updater did not work with stronger directory permissions. Is that still the case? For details see #431

[2020-02-23 15:45] kesselb commented on #1353
Yes

I assumed that pacman is used (because of `/usr/share/webapps/nextcloud` and `/etc/webapps/nextcloud`) to update those installation and the updater is not relevant.

[2020-02-25 19:56] doc75 opened #1846 "Openstack v3 for external storage not documented"
Hello,

Looking at the documentation here: https://docs.nextcloud.com//server/18/admin_manual/configuration_files/external_storage/openstack.html

It only shows how to configure Openstack v2, not Openstack v3 (supported at least since NC16).

I was not able to find the right values from OpenRC file to make it work.
An update of the documentation would be welcome.

If somebody has the information,

[2020-02-27 12:09] skjnldsv commented on #1831
Hey, they're matching different services.
Sometimes it's because we're serving some files over php, sometimes it's a direct serv of static files, sometimes it's redirect needed by other protocoles (dav, well-known...)

[2020-03-01 20:55] guettli opened #1856 "Image too big"
Please have a look at this page. The screenshot is way too big.
At least on my machine.

[2020-03-01 22:32] tflidd commented on #1815
a pull request would be nice. This is the corresponding file: https://github.com/nextcloud/documentation/blob/master/user_manual/images/explorer_webdav.png

[2020-03-02 06:31] skjnldsv commented on #1856
Oh yes they are :smile:
@tobiasKaminsky

[2020-03-02 07:43] tobiasKaminsky commented on #1856
To be honest, I see this site for the very first time ;-)
Where and how does this come from?
I cannot find it in this repo? :thinking:

[2020-03-03 11:11] Ornias1993 opened #1857 "Remove unmaintained & outdated Or just moved behind paywall"
In #667 a lot of documentation has been removed.
This was done due to it being "unmaintained & outdated"  without any reference why and what was outdated. Whole pages got removed.

However:
Even in Latest these pages are still (even the first parts are the same) available behind the nextcloud paywall.
Taking into account the responses when people ask questions about these features, which actually

[2020-03-03 11:23] Ornias1993 opened #1858 "Oauth2 Security considerations, vague?"
The security considerations for using oauth state the following:

and

I understand that it's risky giving any service access to the tokens themselves.
But in case we use something like pusher/oauth2_proxy do these security considerations still apply? The underlaying app shouldn't get access to those tokens would it?

[2020-03-03 12:03] skjnldsv commented on #1858
@ChristophWurst @rullzer

[2020-03-03 12:14] skjnldsv commented on #1857
@rullzer @nickvergessen

[2020-03-03 12:50] ChristophWurst commented on #1858
Added by https://github.com/nextcloud/documentation/pull/1685, original ticket https://github.com/nextcloud/documentation/issues/1683

[2020-03-03 13:26] nickvergessen commented on #1857
The workflow documentation was newly build in another location: https://docs.nextcloud.com/server/stable/admin_manual/file_workflows/

The remaining topics target very large instances and are not really needed for home users. Feel free to get in contact with our sales team if you need any of those other docs for your setup.

[2020-03-03 13:26] #1857 closed

[2020-03-03 15:14] Ornias1993 commented on #1857
@nickvergessen So you are hereby formally admitting you guys lied and those things where not actually "unmaintained & outdated" but removed because (like @jospoortvliet also inter alia admitted already) removed due to being "not really needed for home users"?

[2020-03-03 15:55] nickvergessen commented on #1857
They were "unmaintained and outdated" and have there been removed. Afterwards new documentation for those features have been written due to customer demand (which made us aware only that the existing docs didn't work/match anymore).

Anyway, to me it seems you are on the hunt for troubles and unnecessary discussions, so I'm outta here. :wave:

[2020-03-03 16:27] Ornias1993 commented on #1857
@nickvergessen Thats at least a half truth:
At least the publicly available portions on the new portal-based paywalled documentation is precisely (word for word) the same in most cases.
I also tested some parts of the old documentation and a lot (most?) still applies to latest as well... So far it being "outdated".

Shouldn't the burden of proof of it being outdated be on the one committing said c

[2020-03-03 16:48] Ornias1993 commented on #1857
Okey, I'm done with this. You guys wanted to lie in my face?
Now face it:

- The PR to remove those pages was done on 6 Feb 2018 by a Nextcloud Employee (1)
- It was merged without any comment or significant review within 12 hours by another Employee (2)
- On 27 May 2018 first registration of the paywalled "portal" containing these pages appeared on the way back machine (3)
- The public portion of

[2020-03-03 16:48] jospoortvliet commented on #1857
Pfff, just because the boring intro didn't change you don't believe anything changed? Well, that's your right of course, but I fail to see why any of it matters. The docs here are largely meant for home users, for whom we have always done a lot, without getting paid, because we all care a lot about private use of Nextcloud.

But if you are getting paid to set up a Nextcloud server, you can also pa

[2020-03-05 12:00] GAS85 opened #1865 "app_install_overwrite is not documented"
As written above `app_install_overwrite` is nowhere documented. Here is also asked about: https://help.nextcloud.com/t/ncp-what-is-app-install-overwrite-for/71523

[2020-03-05 12:16] skjnldsv commented on #1865
https://github.com/nextcloud/server/blob/4e36157f3dc4fe085e629f07d0cae8c24879b5df/apps/settings/lib/Controller/AppSettingsController.php#L273

It is apps whom max supported version gets ignored :)
When you force install apps in the app store

[2020-03-05 13:41] GAS85 commented on #1865
Thanks! Still could not find where it is documented.

[2020-03-05 13:59] skjnldsv commented on #1865
It is not, this is a gui function and can be set with occ app:enable --force

[2020-03-05 13:59] #1865 closed

[2020-03-06 09:23] georgehrke opened #1866 "Document calendar invitations"
- [x] Overall invitation process of calendar should be documented.
- [x] FreeBusy
- [x] Big note that invitations have to be sent from your own calendar, not a shared one.

[2020-03-07 14:33] Posi81 opened #1869 "Protokoll Error"
What is this?

[no app in context] Error: UnexpectedValueException: The Nextcloud configuration (config/config.php) does not contain the key user_backend_sql_raw which should contain the configuration for the app user_backend_sql_raw. at <<closure>>

 0. <<closure>>
    OCA\UserBackendSqlRaw\Config->__construct(OC\AppFramework\Logger {}, OC\AllConfig {})
 1. /home/www/nextcloud_mdfashion/lib/priva

[2020-03-08 17:29] kesselb commented on #1869
Thank you for taking the time to report a problem :+1:

As this seems to be a setup issue I would like to ask you to raise your question at https://help.nextcloud.com

[2020-03-08 17:29] #1869 closed

[2020-03-14 19:02] kesselb commented on #1856
@tobiasKaminsky https://github.com/nextcloud/android/blob/master/user_manual/android_app.rst

[2020-03-14 19:03] kesselb commented on #1856
There is also another issue https://github.com/nextcloud/documentation/issues/978 to move this page to this repository.

[2020-03-17 16:12] dassio opened #1887 "add full php path for cron job"
I am using NC18, when configuring the crontab as in here, [setup cron](https://docs.nextcloud.com/server/18/admin_manual/configuration_server/background_jobs_configuration.html).

you need to use `/usr/local/bin/php  -f /var/www/html/cron.php` instead of ` php  -f /var/www/html/cron.php` , not sure why, but otherwise, job showed executed on syslog, but no effect

[2020-03-18 09:15] skjnldsv commented on #1887
It completely depends on your user PATH variable :)
If it's properly set, you don't need it.

I'd say it's fine like this, php can be installed in /usr/bin as well.
If you're doing sysadmin stuff, you should be aware enough to know how to handle your PATH I'd say :)

[2020-03-18 09:15] #1887 closed

[2020-03-19 09:24] valerio-bozzolan commented on #1832
I strongly suggest to the nextCloud team to migrate the documentation in a MediaWiki instance. With the extension Translate it will be super-easy to translate everything.

This is an example of some Translated pages:
https://www.mediawiki.org/wiki/Help:Navigation
https://www.mediawiki.org/wiki/Help:Navigation/es
https://www.mediawiki.org/wiki/Help:Navigation/it

This is the super-simple translatio

[2020-03-19 09:41] dassio commented on #1887
" If it's properly set, you don't need it." ----  the problem is in the standard docker image, it is not configured properly.
"If you're doing sysadmin stuff, you should be aware enough to know how to handle your PATH I'd say :)"   --- we should not assume that people will know everything

"I'd say it's fine like this, php can be installed in /usr/bin as well."  ---  you can  tell that the risk, l

[2020-03-20 05:53] wiswedel opened #1889 "documentation missing"
The user manual still shows the Gallery app: https://docs.nextcloud.com/server/18/user_manual/files/gallery_app.html

That still needs to be replaced by a Photos documentation.

[2020-03-20 05:54] wiswedel opened #1890 "[User docs] update What's new page"
The page [What’s new for users in Nextcloud latest](https://docs.nextcloud.com/server/18/user_manual/whats_new.html) is pretty outdated and needs to be adjusted.

[2020-03-20 07:25] skjnldsv commented on #1889
oh wow :p
@jospoortvliet for the communication ;)

[2020-03-21 14:26] kb-1000 commented on #569
icewind1991's app no longer works, and is currently referenced by the docs. Why do you reference a broken app in the docs?

[2020-03-21 14:40] skjnldsv commented on #569
Fix in https://github.com/nextcloud/documentation/pull/1891
Anyone can edit our documentation and suggest their changes.

[2020-03-21 14:48] skjnldsv commented on #967
Well, is it done? :grin:

[2020-03-21 15:26] dassio commented on #1887
www-data is nologin, the `php -f /var/www/html/cron.php` will not work for sure. this is an error, please  reopen it

[2020-03-22 10:22] #569 closed

[2020-03-22 10:58] ischiros opened #1895 "No settings available"
Hello,

I use Nextcloud 18.0.2 and have File access control installed (v1.8.1).

The documentation says "After installing the File Access Control app as described in Apps management navigate to the configuration and locate the File Access Control settings."
But I can't find this anywhere. I've browsed all the settings screens twice, and nothing looks like this image https://docs.nextcloud.com/serv

[2020-03-22 11:17] skjnldsv commented on #1895
Hi, the app is named Workflow now.
You can find it at https://cloud.domain.com/settings/admin/workflow

[2020-03-22 12:14] ischiros commented on #1895
Thanks for the quick answer.

I don't find any "Worklow" app, nor "File worklows".
There is just a "Workflow external scripts" in the store. Is it this one ?
And I do have a "File access control" installed. Shall I uninstall it because Workflow replaces it ?

[2020-03-22 12:17] juliushaertl commented on #1895
The settings naming is "Flow".

[2020-03-22 13:05] ischiros commented on #1895
Ow, got it.
What you see when you get in the settings is much different fro the screenshot in the documentation : you only have a big red rectangular with "Block File access" in it. That's why I didn't find it.

[2020-03-23 15:45] kb-1000 commented on #569
Has this removed the reference in
![image](https://user-images.githubusercontent.com/18211838/77334842-9e94f080-6d25-11ea-8181-90bff62e8484.png)
for new installations too?

[2020-03-23 15:48] skjnldsv commented on #569
Yes

[2020-03-24 07:01] juliushaertl commented on #1895
Yes, we should update the screenshots and documentation for that, although I probably won't have time for that soon.

[2020-03-24 07:10] juliushaertl commented on #1782
I wanted to have this directly running with phpDocumentor 3 but encountered https://github.com/phpDocumentor/phpDocumentor/issues/2294 when running it against the server code. The issue is fixed and the build works fine now with the nightly build, but I'd say we wait for another RC then. I assume we can set this up somehow automated to publish to docs.nextcloud.com then. cc @rullzer

[2020-03-24 07:12] juliushaertl commented on #967
I think most of it actually. Let's close and track issues individually as I tend to say those overview issues don't help much and smaller issues are easier to tackle and keep track of the progress.

[2020-03-24 07:12] #967 closed

[2020-03-24 11:30] cercec opened #1900 "Theming documentation missing in NC18 doc (and since NC16)"
Hello,
I am new to NC and I am not sure this is an issue. I wanted to customise the footer of the login page (the theming app is not enough for me). Unfortunately, I can't find any documentation on theming NC18, nor on any version next the 15th. Is it still possible ?

[2020-03-24 11:32] skjnldsv commented on #1900
@juliushaertl

[2020-03-25 10:53] ischiros commented on #1895
Sure.
Thanks for your work :)

While I'm here : the flow to block access is named "block access to a file" (at leat, it is named like that in French). But folders are concerned also (which is a good thing). It would be great to make it more clear if you can.

[2020-03-25 21:31] juliushaertl commented on #1895
Contributions are of course always very welcome :wink:

[2020-03-26 20:15] zlmitche commented on #1895
I'm unable to follow this section https://docs.nextcloud.com/server/stable/admin_manual/file_workflows/access_control.html#prevent-uploading-of-specific-files using NextCloud 18.0.1

How do i go about disabling uploads of certain file names/types.

[2020-03-28 13:06] Staubgeborener opened #1914 "Show free space in Web UI"
Well, i read and searched a lot for this issue, but couldn't found a solution. Is there a way to show the free space in the bottom left corner of the UI? Now it only shows the used space, but not the free space (like "1.2 GB / 10 GB used").

[2020-03-28 13:10] skjnldsv commented on #1914
Hey, no there is no option for this.
Cheers

[2020-03-28 13:10] #1914 closed

[2020-03-28 13:41] Staubgeborener commented on #1914
Thats disappointing and i don't get why. But nevermind.

[2020-03-28 13:45] skjnldsv commented on #1914
You can see the reasons why here: https://github.com/nextcloud/server/pull/16049
Basically doesn't make sense to show unlimited. So the total is only shown when your account is set to a specific quota

[2020-03-28 15:09] ThorgerJ opened #1915 "https://docs.nextcloud.com/server/18/go.php?to=admin-dir_permissions"
i encountered an error:

Cannot write into "config" directory!
This can usually be fixed by giving the webserver write access to the config directory
See https://docs.nextcloud.com/server/18/go.php?to=admin-dir_permissions

but the link does not seem to be available in the documentation which is really frustrating

[2020-03-28 15:21] skjnldsv commented on #1915
Right, thanks, I opened a pr to remove this outdated link https://github.com/nextcloud/server/pull/20210

[2020-03-29 07:37] juliushaertl commented on #1900
It was removed in favor of the Theming app with https://github.com/nextcloud/documentation/pull/946 see https://github.com/nextcloud/documentation/pull/946#issuecomment-441999185 for details.

[2020-03-29 07:37] #1900 closed

[2020-03-30 16:06] joshmorel opened #1925 "Update external storage images"
The unmaintained backends (Dropbox etc) were removed from text #1891 but the images still references them, which is confusing. I'm willing to take a stab.

https://docs.nextcloud.com/server/18/admin_manual/configuration_files/external_storage_configuration_gui.html

![image](https://user-images.githubusercontent.com/10546720/77934879-b1a44500-727e-11ea-8aca-0e97ef848ab0.png)

[2020-03-30 16:08] skjnldsv commented on #1925
awesome :)
Could you open a pr and ping me in it ?

[2020-03-31 07:32] fds2610 opened #1927 "incomplete documentation?"
Dear all,
where can I find actual documentation about how to setup email adresses correctly for using nextcloud/calendar/caldav for multiple users ?
my invitations are being sent with the following "from:":
[Full Username] via Nextcloud like
Max Mustermann über Nextcloud cloud@provider.net
and replys automatically go back to the server-email which usualls shall process communication with internal

[2020-03-31 08:10] skjnldsv commented on #1927
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

[2020-03-31 08:10] #1927 closed

[2020-03-31 12:03] #1925 closed

[2020-04-01 05:59] aol-nnov commented on #1832
Quite agree with @vasyugan!

There is a chapter in the readthedocs, ahem, docs explaining how to utilise gettext for translation: https://docs.readthedocs.io/en/stable/guides/manage-translations.html and later integrate with transifex.

BTW, [translation link](https://www.transifex.com/indiehosters/nextcloud-user-documentation/), mentioned in the [latest docs](https://docs.nextcloud.com/server/18/

[2020-04-01 06:35] gary-kim commented on #1915
Closed by nextcloud/server#20210

[2020-04-01 06:35] #1915 closed

[2020-04-01 06:44] gary-kim commented on #1122
I was thinking about getting SSO set up on my personal instance then ran into this. I get why it was done but part of what makes Nextcloud fun for me is being able to play around with enterprise stuff at home.

I managed to figure it out but the fact that I had to go to another place to look for documentation was annoying. It's in my personal KB now so not a problem but if others want to play arou

[2020-04-01 10:11] skjnldsv commented on #1832
Yeeep, that would be very awesome!
Unfortunately this requires a great amount of changes and we don't have the human nor time ressources right now! :(
If anyone want to dive on this, feel free, we'll be happy to assist you! :hugs:

[2020-04-02 10:43] valerio-bozzolan commented on #1832
That's a good starting point. We can provide some hardware and technical resources to create a MediaWiki instance for you. The documentation provided in this way could be released under CC BY-SA in order that you can dump it anytime.

In the other hand it's not clear to me if the official documentation is already under a free cultural work license, to start something from it and allowing the commu

[2020-04-02 10:53] aol-nnov commented on #1832
@valerio-bozzolan why are you so biased towards wiki engine? IMHO, readthedocs is quite decent platform and it's quite popular nowadays. It is a cloud solution provided free of charge, supporting integrations with collaborative translation platforms.

Also, it provides means to download offline docs, too.

With readthedocs documentation source code is hosted under git allowing merge requests for d

[2020-04-02 13:10] skjnldsv commented on #1832
cc @jospoortvliet

[2020-04-03 07:03] valerio-bozzolan commented on #1832
I'm interested in boosting the translation process, allowing non-tech translators volunteers in contributing, because actually I see this problem: very few people are contributing in this sector. So much years are passed since the first release, but our user documentation covers exactly 3 languages. That's a problem for the adoption of this software.

The good news is that something could be chang

[2020-04-03 08:15] AlexandrParkhomenko opened #1940 "Typo"
documentation/user_manual/pim/sync_kde.rst

You can set a manual refresh rate **four** your calendar and contacts resources.

for

[2020-04-03 08:36] skjnldsv commented on #1940
You're missing your end of sentence?

[2020-04-03 08:36] vasyugan commented on #1832
There are ways of hiding the complexity of gettext-based translation. See https://hosted.weblate.org/ Many free software projects are using it already.

[2020-04-03 09:17] aol-nnov commented on #1832
@vasyugan actually, I was meant to mention weblate (we're using it internally for gui localisation), but I did not find any references on how to integrate it with readthedocs.

To be frank, as of now, the whole pipeline of delivering git docs to the readthe docs is a bit vague for me. May be, there is no need to integrate weblate with readthedocs and readthedocs will itself pull latest git revisio

[2020-04-03 09:39] AlexandrParkhomenko commented on #1940
"four" means "for"
Four calendars are absent.

[2020-04-03 09:50] skjnldsv commented on #1940
Can you edit it and provide a pull request?
That would be awesome :)

[2020-04-03 12:51] valerio-bozzolan commented on #1832
In addition of what @aol-nnov said, note that Weblate is very efficient for translating user interfaces, or other one-way contributions, where you want an upstream string to be translated in multiple languages. In the other hand, with Weblate or similar solutions you do not simplify the contribution and the expansion of the original English version as-well.

[2020-04-03 14:55] jospoortvliet commented on #1832
So we've discussed this a bunch of times. We'd love to make our docs easier to both edit and translate. But there are some requirements:
* [ ] must be easy to get or generate a PDF out of it which we can ship - that generation should be able to be part of our scripted "build releases". So any hosted solution should have an API at least, or a PDF download or something...
* [ ] the docs are, I think

[2020-04-04 09:33] vasyugan commented on #1832
If transifex is an option, then by all means, go for it! As it stands, the German manual receives only a couple of edits per year, it must be heavily outdated, so it should make way for an actual translation... Since a large number of Nextcloud's users speak German, there would be some urgency in that. And of course, having Spanish, Russian, French etc manuals would be great, if volunteers show up

[2020-04-06 07:41] AlexandrParkhomenko commented on #1940
Und noch einmal. (And one more time.)
user_manual/files/access_webdav.rst
window opens, enter your **Nexcloud** server’s WebDAV

[2020-04-06 14:23] JanoschDeurer opened #12267 "Documentation for Traefik 2.0 Setup"
I didn't know where to put this, so sorry if this is the wrong place. I have a setup of traefik 2 and Nextcloud and wanted to know where I could add it in the documentation. There is some documentation for Traefik 1 in the manual of Nextcloud:
https://docs.nextcloud.com/server/18/admin_manual/configuration_server/reverse_proxy_configuration.html?highlight=traefik#traefik

In this location I could

[2020-04-09 10:52] skjnldsv commented on #1782
I'm up for rc while we wait for final.
No documentation is not ideal :)

You have a working pr somewhere?

We can also publish on docs-nextcloud.github.io ? With github actions.
And then link docs.nc.com to here?

[2020-04-09 11:16] juliushaertl commented on #1782
No, i was just testing it locally by running phpDocumentor against lib/public/ in the server repo.

Probably good to have that on the server repo then.

[2020-04-10 12:31] biva opened #1953 "Write a documentation to install Nextcloud and OnlyOffice with proxy and docker"
Hello,
I'd like to write the documentation to install OnlyOffice on a server which already has Nextcloud installed, with this configuration
- Debian/Apache
- Nextcloud
- OnlyOffice (Docker version, Document Server only) behind a proxy
- Let's encrypt for everybody

Where is the best place to do it? Nextcloud documentation? OnlyOffice documentation? Which github repository? I also asked the questio

[2020-04-10 12:34] skjnldsv commented on #1953
Sure! Feel free to open a pr for it :)
I would say this repository is the best place.
Should be in the [admin manual](https://docs.nextcloud.com/server/18/admin_manual/) https://github.com/nextcloud/documentation/tree/master/admin_manual

More precisely in a dedicated section of https://docs.nextcloud.com/server/18/admin_manual/installation/index.html ?

[2020-04-12 14:59] cfelder commented on #795
see also: https://github.com/nextcloud/docker/issues/1055

[2020-04-14 08:34] jospoortvliet commented on #1832
Well, yes, it would be ideal. But I don't KNOW if it is, and IF it is, somebody has to do the work, or at least the research so the 'work' can be done following a few predefined steps. The sysadmin team is sadly just too overloaded right now and they don't have time for it, as I said, at least for the next 4-6 months. So help welcome or - this won't happen any time soon.

[2020-04-16 06:50] biva commented on #1953
Thanks for your encouragement @skjnldsv , I will. I'm still blocked to make my install work (I have probably an Apache issue discussed here (https://dev.onlyoffice.org/viewtopic.php?f=53&t=24615&start=10). As soon as it is solved, I'll make a PR

[2020-04-16 17:38] #1831 closed

[2020-04-16 17:38] artemkonev commented on #1831
Thank you!

[2020-04-19 08:05] qdii commented on #1782
I'm a new developer, trying to develop a simple app for NextCloud for the first time. I was very confused by the documentation missing, and wondering if I had to regenerate myself it somehow, until I found this post.

So if I understand correctly, the documentation has been missing for more than 3 months now, and it looks like the fix would just be to push the files on a server, but nobody has don

[2020-04-19 08:56] skjnldsv commented on #1782
not really, we need a proper new way of building them, there is a bug on the library used to generate them as far as I understood

[2020-04-19 09:32] qdii commented on #1782
Why not publish a prior revision, built before the bug was introduced, so that users have access to some documentation? Parts would be outdated, but it's arguably better than having no documentation at all.

[2020-04-20 06:41] jospoortvliet commented on #1642
Indeed, it should. Here's a simple PR:
https://github.com/nextcloud/documentation/pull/1968

Taking the comments comment into the docs and linking to the activities. pls check if I put things in the right place...

[2020-04-20 20:59] svenkatgit commented on #1806
Hi, I'm not an expert on this. But I will contribute my experiences: It seems Windows now supports the Basic Authentitation over HTTPS per default (I checked the registry key "BasicAuthLevel" - it was already set to 1). Instructions may only be necessary if one is using HTTP. I tested with Windows 10, but it may be that way already since Vista(?).
But it is important to have a valid certificate on

[2020-04-21 07:52] MorrisJobke commented on #1642
Fixed in #1968

[2020-04-21 07:52] #1642 closed

[2020-04-21 19:22] peterzieba opened #2011 "CentOS Installation direction issues with optional Redis/Imagemagick"
Hi,

The following page:
https://docs.nextcloud.com/server/18/admin_manual/installation/example_centos.html

Has an issue in the section "Manually building redis/imagick (optional)"
[code]

[2020-04-22 06:53] skjnldsv commented on #2011
pecl seems to be provided by `php-pear` ?
Can you try?

[2020-04-22 06:54] skjnldsv commented on #2011
Ah ok, no
you copied the second line
First command is `dnf install -y php-pear gcc curl-devel php-devel zlib-devel pcre-devel make` second command is `pecl install redis`

[2020-04-22 06:58] skjnldsv commented on #2011
Fix in https://github.com/nextcloud/documentation/pull/2015 :)

Thanks for the find @peterzieba !!

[2020-04-22 08:17] #1866 closed

[2020-04-22 08:17] #1940 closed

[2020-04-22 09:00] #2011 closed

[2020-04-24 06:57] AlexandrParkhomenko opened #2026 "typo"
--- a/developer_manual/app/npm.rst
+++ b/developer_manual/app/npm.rst
@@ -13,7 +13,7 @@ npm build

 Once ``npm install`` (``npm i`` for short) has been run to install all dependencies specified
 on ``package.json``, one typically has to build the project. Building can happen with tools like
-Webpack, Grunt or similar. To unify the build command across Nextcoud apps, just add the build
+Webpack, Gr

[2020-04-24 07:16] skjnldsv commented on #2026
Hi!
It seems your message is incomplete @AlexandrParkhomenko, can you check? :)

[2020-04-28 16:16] MBurchard opened #9468 "Requested uri (/cloud/remote.phpp/dav/files/mburchard/) is out of base uri (/cloud/remote.php/dav/)"
### Steps to reproduce
If I open files (https://{myserver}/cloud/apps/files/) I get an error message in the frontend and in the log files.

	{
		"reqId": "dTAVgll8jEqEs6DIUgc8",
		"level": 3,
		"time": "2020-04-27T09:28:01+00:00",
		"remoteAddr": "172.17.0.1",
		"user": "mburchard",
		"app": "remote",
		"method": "GET",
		"url": "/cloud/remote.phpp/dav/files/mburchard/",
		"message": {
			"Excepti

[2020-04-28 22:42] enrgyxprt opened #2032 "Fixing message ".. not properly set up to resolve “/.well-known/caldav”." throws integrity check"
I have NC in a subfolder of the root called nextcoud.
In NC under settings and general I used to receive the message,

That documentation states,.

[code]

The issue is now NC says,

I believe I read that htaccess should NOT be modified,
That said, and Im only taking a stab in the dark that possibly the instructions above should advise on how to modify default-ssl.conf or similar and show ?

Hope

[2020-04-29 05:38] MorrisJobke commented on #2032
Correct. The .htaccess should be correct if it is installed into the root folder, but as you have run this from a subfolder there is no reason to change it. You need to change or add a .htaccess file in the **root folder**. This is then not part of Nextcloud and the integrity check will not take this into account and will also not warn.

You could also just place another config in there for that p

[2020-04-29 05:38] #2032 closed

[2020-04-29 12:23] enrgyxprt commented on #2032
Solved by NOT following the NC documentation
In 000-default.conf I added lines between </VirtualHost> and </IfModule>:

Redirect 301 /.well-known/carddav /nextcloud/remote.php/dav
Redirect 301 /.well-known/caldav /nextcloud/remote.php/dav

Now original .htaccess is fine and not receiving resolving errors

[2020-05-01 18:48] fabian-hk opened #2038 "Improve SSL hardening guide"
I have seen that you have referenced the Mozilla TLS profiles in the [SSL hardening guideline](https://github.com/nextcloud/documentation/blob/master/admin_manual/installation/harden_server.rst#proper-ssl-configuration). @danielfett and I developed a free web service called [Web TLS Profiler](https://tlsprofiler.danielfett.de/) that can compare the TLS settings of a server with a Mozilla TLS profi

[2020-05-01 22:44] enrgyxprt commented on #2032
MorrisJobke,
Directly after posting the original message, I did exactly as suggested, created the .htaccess file in the root as mentioned in the docs, placed the original .htaccess NC had from v18 and restarted apache2 and still received the errors. At that point I deleted the .htaccess in the root and added the redirects in 000-default.conf. Worked on the first try and didnt bother seeing if othe

[2020-05-03 17:06] VinayaSathyanarayana opened #2041 "[Documentation Request] Using fusionauth.io as SSO / Auth Provider"
Please document how one can use fusionauth.io as the SSO/ Auth provider.

[2020-05-04 07:38] MorrisJobke commented on #2032
The `.htaccess` also needs to be enabled for the root folder. Also edition 000-default.conf is one place. It highly depends on your distribution where this needs to be placed. So there is not one way to configure it. If you want you can propose an update to the documentation but the initial topic in here was clearly not the way to go, so I closed it.

[2020-05-04 07:40] MorrisJobke commented on #2041
Thanks for the request.

If someone will provide this documentation we are happy to add it to our documentation but we will not proactively document this here, because as of now nobody from our team uses it. If there is somebody in the community that uses it, feel free to provide the steps.

Thus I will close this here for now.

[2020-05-04 07:40] #2041 closed

[2020-05-04 09:36] wiswedel opened #2042 "Others with access needs documentation"
Nextcloud 18 introduced the feature "others with access" in the sharing sidebar:

![image](https://user-images.githubusercontent.com/1804221/80952738-6ee40880-8dfa-11ea-8059-8c0d03fd3c0a.png)

It is not yet documented. Documentation should go into the User Manual under https://docs.nextcloud.com/server/latest/user_manual/files/access_webgui.html#file-controls.

[2020-05-04 09:52] wiswedel opened #2043 "config sample page in "latest" broken"
The config sample documentation is broken when watching it in the _latest_ view (https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/config_sample_php_parameters.html).
All parameters are missing :-(
18 works (https://docs.nextcloud.com/server/18/admin_manual/configuration_server/config_sample_php_parameters.html)

[2020-05-04 09:53] wiswedel commented on #2043
@juliushaertl Do you have any clue?
Did I break something in https://github.com/nextcloud/documentation/pull/1896?

[2020-05-04 11:05] MorrisJobke commented on #2043
This change is usually overwritten by a job that takes the config sample and pastes it into the docs. So you need to change it there: https://github.com/nextcloud/server/blob/master/config/config.sample.php#L610

[2020-05-04 11:10] MorrisJobke commented on #2043
it's this tool here: https://github.com/MorrisJobke/nextcloud-config-converter

[2020-05-04 11:27] wiswedel commented on #2043
Thank you for the enlightening, @MorrisJobke!
PR is open.

[2020-05-04 11:37] MorrisJobke commented on #2043
I found also the issue for this. It was @ChristophWurst cleaning up the core code: https://github.com/nextcloud/server/commit/b80ebc96748b45fd2e0ba9323308657c4b00b7ec#diff-2f769bc01ffefdf14eb04404218e7582

I fixed it in https://github.com/MorrisJobke/nextcloud-config-converter/commit/1d2c17a9e9ecb6efdb3acd27e51ba06af4104af2 and will re-run the sync job then.

[2020-05-04 11:37] #2043 closed

[2020-05-04 11:55] MorrisJobke commented on #2043
And back they are: 9eb12ba47deb91541be6e74c46c120d328dde181

[2020-05-04 12:22] wiswedel commented on #2043
Awesome.
Does the documentation web server have to be reloaded or so? The page doesn't show it yet.

[2020-05-04 12:25] MorrisJobke commented on #2043
It only builds one a day. So it will be there tomorrow. Is this okay?

[2020-05-04 12:27] wiswedel commented on #2043
Totally. Thanks

[2020-05-04 13:30] cortex3 opened #2045 "wrong manual steps in how to upgrade guide"
I've noticed that all versions of the nextcloud documentary show the steps for Nextcloud 13 in the how to upgrade chapter.
Example:
https://docs.nextcloud.com/server/18/admin_manual/maintenance/upgrade.html
This is the Nextcloud 18 documentary but It's still showing the NC 13 steps.

[2020-05-04 13:45] cortex3 commented on #2045
Looks like the change was introduced in https://github.com/nextcloud/documentation/commit/e968661e344a59f6fe69c6681706612ad48babf8

I'm a bit confused by this repository, seems like the documentaries are split across branches.

[2020-05-05 18:06] kw90 opened #2049 "Server URI for Synchronizing with iOS"
Hi,

I just set up a iOS device for synchronization with an NextCloud instance running on version 16.0.1 and found that the proposed URI in the [documentation](https://docs.nextcloud.com/server/16/user_manual/pim/sync_ios.html#contacts)

[code]

did not work. As I was testing with Android at the same time, I noticed a different URI after configuring it with DAVx^5 and tested this with the iOS devi

[2020-05-06 09:25] GAS85 opened #2050 "has_rebuilt_cache - is not documented anywhere"
Hello, in my `config.php` I found the line:

    'has_rebuilt_cache' => true,

But it is nowhere documented. Could you please added description of it? Have no idea what this means and why it is added.

[2020-05-06 09:47] MorrisJobke commented on #2050
I can't find this in the server code. This seems to originate from an app (which usually shouldn't put config in the config.php but rather into the appconfig DB table). So this needs to be documented in that app: https://apps.nextcloud.com/apps/carnet

[2020-05-06 09:47] #2050 closed

[2020-05-06 10:03] MorrisJobke commented on #2038
Sounds like a useful tool :) Do you mind to open a pull request against the documentation page to add a link to the web profiler?

[2020-05-06 10:09] MorrisJobke commented on #2049
cc @georgehrke @tobiasKaminsky @rullzer

[2020-05-06 10:10] MorrisJobke commented on #2049
@kw90 Mind to open directly a pull request against the page of the documentation here?

[2020-05-06 10:12] georgehrke commented on #2049
The URL for iOS is correct. Please make sure that you fix your server config.
The well-known URL is most likely not properly resolving.

[2020-05-06 11:09] fabian-hk commented on #2038
Yes, I will submit a PR as soon as possible ;)

[2020-05-06 12:01] tobiasKaminsky commented on #2049
No idea for Android. This is done by awesome davX5 app and working normally out of the box.

[2020-05-06 14:40] kw90 commented on #2049
Thanks for the feedback guys! Seems to be a missing Nginx configuration in the above linked Docker image(s) that I am using. Closing this, as it has to be fixed over there.

[2020-05-06 14:40] #2049 closed

[2020-05-06 16:16] MorrisJobke commented on #2045
That looks like a leftover. It was introduced in Nextcloud 13, but still is sometimes good to execute. We detect this automatically and give the admin a hint in the setup checks in the admin panel. So I guess it's fine to remove the section there.

[2020-05-06 16:26] MorrisJobke commented on #2045
Fix is in #2051

[2020-05-06 19:32] #2045 closed

[2020-05-07 07:29] pierreozoux commented on #216
@jancborchardt @jospoortvliet
Can we get an update on this?
We spent days working on it, and we have no feedback from you.
And now I see that the name of our work was changed to be prefixed by "stop" ??

https://www.transifex.com/nextcloud/nextcloud-user-documentation/

I'm sure there is a good reason, but please do communicate, I have no idea what is happening, and as I spent days (not the only o

[2020-05-07 08:48] p-bo commented on #216
@jancborchardt @jospoortvliet I second to that - please for sake of better user experience for non-English speakers, don't throw translation of _user_ documentation away please…

[2020-05-07 08:51] p-bo commented on #216
@pierreozoux it seems, that current status is here: https://github.com/nextcloud/documentation/issues/1832#issuecomment-613303930

[2020-05-07 09:06] jospoortvliet commented on #216
@p-bo that is indeed the current state and roadmap: we currently have no plans as we have no time for it. The best approach would be a way to connect Transifex to our current docs as that would not disrupt our workflow. We don't know if it is possible and if it is, how to do it. We'd be extremely grateful to anyone willing to do the research and perhaps point out how to do it.

[2020-05-07 10:00] skjnldsv commented on #216
19 is about to be released. We're all completely swamped under all sort of things! :(
Sorry about this! Thanks for the awesome work here, we'll dive into this as soon as we can!

[2020-05-09 12:53] pierreozoux commented on #1832
@vasyugan if you want to discuss how to help people non familiar to git to improve documentation, please open a new issue. I think, like @jospoortvliet, that we have to use git.
But then, how to help them, is indeed open.

The translation issue is already tackled in #216.

I will close as the title suggests it is a duplicate of #216.

[2020-05-09 12:53] #1832 closed

[2020-05-09 13:34] pierreozoux commented on #216
@skjnldsv ok, sorry, maybe my rant was a bit out of context.

We did coordinate work to:
 - put all the doc into transifex
 - translate it in french and czech
 - automate the build of the doc - the [PR is here](https://github.com/nextcloud/documentation/pull/18240)
 - [make the use of the translated documentation in Nc with the l10n of the user](https://github.com/nextcloud/server/pull/17870)

We

[2020-05-10 11:13] colttt opened #2059 "no documentation about metrics"
Hello,

in the serverinfo, there are a lot of metrics where not descriped somewhere, for example num_storages, permissions_0_1, permissions*, etc. It would be very nice if you documented it somewhere

[2020-05-10 17:17] thromeaway opened #2061 "Groupware Documentation"
I couldnt find any documentation about the Groupware settings for example how the push notifications work. Either i overlooked it and its really hard to find or non existant. In both cases it should be easier to find.

[2020-05-12 04:09] richardnixonafj commented on #216
sorry for delay, still need help with portuguese - BR  translations?

[2020-05-12 06:51] MorrisJobke commented on #2061
They should just work. If you want the technical details, then head over to the notifications app: https://github.com/nextcloud/notifications/blob/master/docs/push-v2.md

But in general this is nothing an admin or end user should care about, because it should just work.

Let's close this then, if there is no further question.

[2020-05-12 06:51] #2061 closed

[2020-05-12 06:57] MorrisJobke commented on #2038
Closed with #2060

[2020-05-12 06:57] #2038 closed

[2020-05-12 07:57] p-bo commented on #216
@richardnixonafj right now, there is need to sorting out - see posts above. Then help will be very welcomed! :)

[2020-05-14 18:41] boyi01 opened #2077 "Login Flow v2 Documentation"
Hey,

at the moement i try to build an with Flutter for the Cookbook App,

For this i want to use the login Flow v2..

but i miss the callback URL in the doc...

i do guess:
https://cloud.example.com/index.php/login/v2/grant

is this correct? or a other?

[2020-05-14 19:44] MorrisJobke commented on #2077
cc @rullzer

[2020-05-14 19:46] MorrisJobke commented on #2077
https://github.com/nextcloud/server/pull/14161

[2020-05-15 17:14] kesselb commented on #2077
https://docs.nextcloud.com/server/18/developer_manual/client_apis/LoginFlow/index.html#login-flow-v2

What do you need a callback url for?

[2020-05-15 17:53] boyi01 commented on #2077
I guess i just missunderstood some stuff, understand it know so you right i don't one

[2020-05-15 17:53] #2077 closed

[2020-05-15 18:24] kesselb commented on #2077
Great! Looking forward to your app :+1:

[2020-05-17 22:13] dhebert91 commented on #216
I did work on French translation with @pierreozoux and i invoke @jospoortvliet to help us to find the good person in the nextcloud team able to unblock the situation.

[2020-05-23 16:15] biva commented on #1953
I started the documentation here: https://github.com/biva/documentation/edit/biva/admin_manual/configuration_server/onlyoffice_configuration but I'm still totally blocked with the configuration. If anybody could help me, I could succeed with this install and finalize the documentation. The issues and the details are reported in https://dev.onlyoffice.org/viewtopic.php?f=53&t=27441
Thanks in advanc

[2020-05-24 14:10] vrubiolo commented on #289
Just a note to mention that the link for SabreDav service discovery is actually https://sabre.io/dav/service-discovery/ (as is correctly mentioned in https://docs.nextcloud.com/server/18/admin_manual/issues/general_troubleshooting.html#service-discovery).

This is just for the record, as I ended up on this issue while investigating iOS caldav sync issues.

[2020-05-26 09:56] wiswedel opened #2096 "[18+] Require internal shares to be accepted"
From NC 18, shares with users and groups are no longer auto-accepted by the sharees.
That needs to be documented.

[2020-05-26 11:09] wiswedel opened #2097 "[18+] Transfer ownership"
From NC 18, users can initiate an ownership transfer for selected files and folders.
The target user needs to accept the transfer before the process is actually carried out.
Afterwards, both parties get informed by a notification about the status.

That needs to be documented (including screenshots).

[2020-05-26 12:05] MorrisJobke commented on #2096
They still are, but there is a user setting to disable the auto accept behavior.

[2020-05-26 13:13] wiswedel commented on #2096
plus two config flags: https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/config_sample_php_parameters.html#sharing

[2020-05-28 18:54] linucksrox opened #2110 "Share Link (for public links) documentation is outdated and unclear"
At some point the user interface changed for sharing public links, and this does not seem to be reflected in the User Manual documentation. I believe the Share section could benefit from some additional verbosity and screenshots, making it more clear the difference between internal shares and external share links, and the different process for each type.

Today I'm attempting to create a public sh